CDWAlite.rnc

# version 1.1: 2006-07-12: CDWALite-xsd-public-1.1.xsd

# xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
# xx CDWA Lite: XML Schema Content for Contributing Records via the OAI Harvesting Protocol (Version 2.0)
# xx This version of XML Document corresponds to CDWA_Lite_Schema_Draft.pdf v1.1 changes provided by Getty 
# xx http://www.getty.edu/research/conducting_research/standards/cdwa/cdwalite/cdwalite.pdf 
# xx
# xx CDWA Lite is an XML schema to describe core records for works of art and material culture based on 
# xx  the Categories for the Description of Works of Art (CDWA) and Cataloging Cultural Objects: A 
# xx  Guide to Describing Cultural Works and Their Images (CCO).
# xx
# xx Copyright © 2005, 2006 ARTstor and J Paul Getty Trust
# xx
# xx Prepared for ARTstor and the Getty Research Institute /J Paul Getty Trust 
# xx by:  Ameer Ahmed - ARTstor (aahmed@artstor.org)
# xx   Joseph Shubitowski - Getty Research Institute (JShubitowski@getty.edu)
# xx   Karim Boughida - Getty Research Institute (KBoughida@getty.edu)
# xx  
# xx       version 1.1: 2006-07-12: CDWALite-xsd-public-1.1.xsd    
# xx    
# xx
# xx Last update: 2006-06-16 A. Ahmed (+ K.Boughida):
# xx  added missing xsd namespace reference
# xx  renamed  "class" element to "classification"
# xx  removed extra sequence from "measurementsSet" 
# xx  added "cdwaliteWrap" top element
# xx         type="xsd:string" instead of type="string"
# xx                 eg <xsd:attribute name="earliestdate" type="xsd:string"/> instead of  
# xx    <attribute name="earliestdate" type="string"/>
# xx         <xsd:extension base="xsd:string"> instead of <extension base="string">
# xx 
# xx               version 1.0: 2006-05-24: CDWALite-xsd-public-1-0.xsd
# xx
# xx             Last update: 2006-05-24 J. Shubitowski:
# xx  All extraneous comments, old element definitions, and editing work removed
# xx  v.009c2 "measurementSet" element revised to match proper spec element
# xx   "measurementsSet".
# xx
# xx Last update: 2005-09-07 J. Shubitowski:
# xx  Three edits to elements. Search for "original element from Ameer" for original versions;
# xx   edits were necessary to support the data and attributes. 
# xx  Wrapper element removed. Root element is cdwalite:cdwalite. 
# xx
# xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# Converted to RNC and beaitified by Vladimir Alexiev, 24-Aug-2015

default namespace cdwalite = "http://www.getty.edu/CDWA/CDWALite"
namespace a = "http://relaxng.org/ns/compatibility/annotations/1.0"
namespace rng = "http://relaxng.org/ns/structure/1.0"
namespace xsd = "http://www.w3.org/2001/XMLSchema"

start = cdwaliteWrap

## Holds a collection of cdwalite records
cdwaliteWrap = element cdwaliteWrap {cdwalite+}

cdwalite = element cdwalite {descriptiveMetadata, administrativeMetadata}

administrativeMetadata = element administrativeMetadata {rightsWork*, recordWrap?, resourceWrap?}

descriptiveMetadata = element descriptiveMetadata {
  objectWorkTypeWrap,
  titleWrap,
  displayCreator,
  indexingCreatorWrap,
  displayMeasurements?,
  indexingMeasurementsWrap?,
  displayMaterialsTech,
  indexingMaterialsTechWrap?,
  displayStateEditionWrap?,
  styleWrap?,
  cultureWrap?,
  displayCreationDate,
  indexingDatesWrap,
  locationWrap,
  indexingSubjectWrap?,
  classWrap?,
  descriptiveNoteWrap?,
  inscriptionsWrap?,
  relatedWorksWrap?}

## A wrapper for image information. An identification of an image (visual surrogate) of the work, including digital images, slides, transparencies, photographs, and moving images, but excluding items that are considered works in their own right. For works such as drawings, prints, paintings, or photographs considered art, and other works that themselves contain representations of other works, use Related Works and/or Subjects. 
resourceWrap = element resourceWrap {resourceSet*}

# A qualifier used when the attribution is uncertain, is in dispute, when there is more than one creator, when there is a former attribution, or when the attribution otherwise requires explanation.
attributionQualifierCreator = element attributionQualifierCreator {xsd:string}

## Term used to categorize a work by grouping it together with other works on the basis of similar characteristics, including materials, form, shape, function, region of origin, cultural context, or historical or stylistic period. If the work is assigned to multiple classifications, repeat this element.
classification = element classification {xsd:string, attr_termsource, attr_termsourceID}

## A wrapper for classfication information
classWrap = element classWrap {classification*}

## Name of the culture, people, or nationality from which the work originated.
culture = element culture {xsd:string, attr_termsource, attr_termsourceID}

## A wrapper for Culture elements
cultureWrap = element cultureWrap {culture*}

## A clarification of the meaning of the date, used when necessary.
dateQualifier = element dateQualifier {xsd:string}

## A relatively brief essay-like text that describes the content and context of the work, including comments and an interpretation that may supplement, qualify, or explain the physical characteristics, subject, circumstances of creation or discovery, or other information about the work.
descriptiveNote = element descriptiveNote {xsd:string}

## A wrapper for Description/Descriptive Note information.
descriptiveNoteWrap = element descriptiveNoteWrap {descriptiveNoteSet*}

## If there are multiple notes, repeat the note Set.
descriptiveNoteSet = element descriptiveNoteSet {descriptiveNote?, sourceDescriptiveNote*}

## A concise description of the date or range of dates associated with the creation, design, production, presentation, performance, construction, or alteration of the work or its components, presented in a syntax suitable for display to the end-user and including any necessary indications of uncertainty, ambiguity, and nuance.
displayCreationDate = element displayCreationDate {xsd:string}

## The name, brief biographical information, and roles (if necessary) of the named creator or creators in the design and production of the work, presented in a syntax suitable for display to the end-user and including any necessary indications of uncertainty, ambiguity, and nuance. If there is no known creator, make a reference to the presumed culture or nationality of the unknown creator.
displayCreator = element displayCreator {xsd:string}

## A description of the edition of the work; used primarily for prints and other multiples.
displayEdition = element displayEdition {xsd:string}

## An indication of the substances or materials used in the creation of a work, as well as any implements, production or manufacturing techniques, processes, or methods incorporated in its fabrication, presented in a syntax suitable for display to the end-user and including any necessary indications of uncertainty, ambiguity, and nuance. For works on paper, descriptions of watermarks may also be included. (For marks applied to the work or support by the artist or subsequently by another person, see Inscriptions.)
displayMaterialsTech = element displayMaterialsTech {xsd:string}

## Information about the dimensions, size, or scale of the work, presented in a syntax suitable for display to the end-user and including any necessary indications of uncertainty, ambiguity, and nuance. It may include the scale of the work. It may also include the number of the parts of a complex work, series, or collection.
displayMeasurements = element displayMeasurements {xsd:string}

## A description of the state of the work; used primarily for prints and other multiples.
displayState = element displayState {xsd:string}

## A wrapper for Display State Editions
displayStateEditionWrap = element displayStateEditionWrap {displayState*, displayEdition*, sourceStateEdition*}

## A year that broadly delimits the beginning of an implied date span
earliestDate = element earliestDate {xsd:string, attr_termsource}

## An explanation of the part of the work being measured; included when necessary for clarity.
extentMeasurements = element extentMeasurements {xsd:string}

## The unique numeric or alphanumeric identification of the resource.
resourceID = element resourceID {xsd:string, attr_type}

## The relationship of an image or other resource to the work being described.
resourceRelType = element resourceRelType {xsd:string, attr_type}

## The generic identification of the medium of the image or other resource.
resourceType = element resourceType {xsd:string, attr_termsource, attr_termsourceID}

## Information about rights regarding the image or other resource. Use this sub-element if the holder of the reproduction rights for the image/resource differs from the holder of rights for the work. See also Rights Work above. (E.g., the work rights are " National Museum of African Art, Smithsonian Instituition (Washing DC), " but the image rights are "Photo Frank Khoury.")
rightsResource = element rightsResource {xsd:string, attr_type}

## A description of the spatial, chronological, or contextual aspects of the work as captured in the view of this particular image or other resource.
resourceViewDescription = element resourceViewDescription {xsd:string, attr_type}

## Terms or phrases that characterize the subject matter of the work as it is depicted in a specific image or other resource.
resourceViewSubjectTerm = element resourceViewSubjectTerm {xsd:string, attr_termsource, attr_termsourceID, attr_type}

## The specific vantage point or perspective of the view.
resourceViewType = element resourceViewType {xsd:string, attr_termsource, attr_termsourceID}

## A date or range of dates associated with the creation or production of the image. This is not necessarily the same as the date of production of the resource (e.g., a print of a negative may be made years after the image was first captured on film). For the date of the resource, use Resource Date.
resourceViewDate = element resourceViewDate {
  xsd:string,
  attr_type,
  attribute earliestdate {xsd:string}?,
  attribute latestdate {xsd:string}?}

## Identification of the agency, individual, repository, or publication from which the image or other resource was obtained, including a bibliographic citation in the case of copy photography. Include this sub-element when the source of the image/resource differs from the source named in Record Source.
resourceSource = element resourceSource {
  xsd:string,
  attr_type,
  attribute earliestdate {xsd:string}?,
  attribute latestdate {xsd:string}?}

## A reference to an image or other resource that is related to the resource in this Resource Set, generally linking a group or collection of images or other resources to members of the group or collection. For multiple related resources, repeat this element.
linkRelatedResource = element linkRelatedResource {relatedResourceRelType?, labelRelatedResource*, attr_linkscheme}

## A term describing the nature of the relationship between the resource at hand and the related resource.
relatedResourceRelType = element relatedResourceRelType {xsd:string}

## An identification of the related image or other resource that will be meaningful to end-users.
labelRelatedResource = element labelRelatedResource {xsd:string}

## Pointer(s) to other metadata (administrative, technical, structural).
resourceMetadataLoc = element resourceMetadataLoc {xsd:string, attr_type}

## Set for creator indexing elements. If there are multiple creators, repeat Indexing Creator Set.
indexingCreatorSet = element indexingCreatorSet {
  nameCreatorSet+,
  nationalityCreator*,
  vitalDatesCreator*,
  genderCreator?,
  roleCreator+,
  attributionQualifierCreator*,
  extentCreator*}

## Wrapper for one or more sets of Indexing Creator elements. 
indexingCreatorWrap = element indexingCreatorWrap {indexingCreatorSet+}

## A wrapper for one set of years in the proleptic Gregorian calendar delimiting the span of time during which the creation and production of the work took place, as indicated in the Display Creation Date. If the creation took place in a single year, repeat the same year in earliest and latest dates. For ca. and other uncertain or approximate dates, estimate the greatest possible span for indexing (generally, allow at least 5 years for "ca."). If different parts of the work were done at different times, or if different activities in the production of the work were done at different times, repeat Indexing Dates.
indexingDatesSet = element indexingDatesSet {dateQualifier*, earliestDate, latestDate}

## A wrapper for Indexing Dates.
indexingDatesWrap = element indexingDatesWrap {indexingDatesSet+}

## Materials and techniques indexed with controlled terms for retrieval; if multiple parts of the work require separate materials and techniques, or if you are recording media and support separately, repeat this element with the type attribute and/or the extent sub-element.
indexingMaterialsTechSet = element indexingMaterialsTechSet {
  termMaterialsTech*,
  extentMaterialsTech*,
  sourceMaterialsTech*,
  attr_type}

## A wrapper for Indexing Materials/Techniques
indexingMaterialsTechWrap = element indexingMaterialsTechWrap {indexingMaterialsTechSet*}

## The dimensions, size, shape, scale, format, or storage configuration of the work, including volume, weight, area or running time. Measurements are formatted to allow retrieval; preferably in metric units where applicable; if multiple parts of the work are measured, repeat the Indexing Measurements element.
indexingMeasurementsSet = element indexingMeasurementsSet {
  measurementsSet*,
  extentMeasurements*,
  qualifierMeasurements*,
  formatMeasurements*,
  shapeMeasurements*,
  scaleMeasurements*}

## A wrapper for the Indexing Measurements.
indexingMeasurementsWrap = element indexingMeasurementsWrap {indexingMeasurementsSet*}

## A description or transcription of any distinguishing or identifying physical lettering, annotations, texts, markings, or labels that are affixed, applied, stamped, written, inscribed, or attached to the work, excluding any mark or text inherent in the materials of which the work is made (record watermarks in Display Materials/Techniques).
inscriptions = element inscriptions {xsd:string}

## A wrapper for Inscription information.
inscriptionsWrap = element inscriptionsWrap {inscriptions*}

## An identification of the related work, group, collection, or series that will be meaningful to end-users, including some or all of the following information, as necessary for clarity and if known: title, creator, object/work type, and creation date. Display it with the Location of Related Work.
labelRelatedWork = element labelRelatedWork {xsd:string}

## A year that broadly delimits the end of an implied date span. 
latestDate = element latestDate {xsd:string, attr_termsource}

##  A uri/url reference that is universal and in the worldwide web environment. Note that it differs from ResourceID, which represents local, system specific data.
linkResource = element linkResource {
  xsd:string,
  attr_type,
  attribute formatResource {xsd:string}?}

## An uri/url reference that is universal and in the worldwide web environment. Note that it differs from the ID attribute, which represents local, system specific data.
linkRelatedWork = element linkRelatedWork {xsd:string, attr_linkscheme}

## The current location of the related work, generally a repository or, for architecture and monumental works, a geographic place. For series and other works published in multiples, location may not be applicable.
locRelatedWork = element locRelatedWork {
  xsd:string,
  attribute relWorkID {xsd:string}?,
  attr_termsource,
  attr_locID,
  attr_locIDtype}

## The name and geographic location of the repository that is currently responsible for the work, or, for monumental works and architecture, the geographic location of the work. If the work is lost, destroyed, has location unknown, or the work is in an anonymous private collection, indicate this. Also may include creation location, discovery location, and other former locations.
locationName = element locationName {
    xsd:string,
    attr_type,
    attr_termsource,
    attr_termsourceID,
    attr_locID,
    attr_locIDtype}

## A wrapper for Location/Repository information.
locationWrap = element locationWrap {locationSet+}

## Set for location elements. If there are multiple locations, repeat the Location Set.
locationSet = element locationSet {locationName, workID*}

## A wrapper for sets of resource information. If there are multiple resources associated with the object, repeat the Resource Set sub-element.
resourceSet = element resourceSet {
  linkResource?,
  resourceID?,
  resourceRelType*,
  resourceType*,
  rightsResource*,
  resourceViewDescription?,
  resourceViewType*,
  resourceViewSubjectTerm*,
  resourceViewDate?,
  resourceSource*,
  linkRelatedResource*,
  resourceMetadataLoc*}

## The dimensions or other measurements for one aspect of a work (e.g., width); may be combined with extent, qualifier, and other sub-elements as necessary.
measurementsSet = element measurementsSet {
  attribute unit {xsd:string}?,
  attr_type,
  attribute value {xsd:string}}

## The names, appellations, or other identifiers assigned to an individual, group of people, firm or other corporate body, or other entity that has contributed to the design, creation, production, manufacture, or alteration of the work.
nameCreator = element nameCreator {
  xsd:string,
  attr_termsource,
  attribute type {"personalName" | "corporateName"}?,
  attr_termsourceID}

## Set for name elements. If there are multiple names, repeat the Name Set.
nameCreatorSet = element nameCreatorSet {nameCreator, sourceNameCreator*}

## National or cultural affiliation of the person or corporate body.
nationalityCreator = element nationalityCreator {xsd:string}

## The sex of the individual. Not applicable for corporate bodies.
genderCreator = element genderCreator {xsd:string}

## A term or terms identifying the specific kind of object or work being described. For a collection, include repeating instances for terms identifying all of or the most important items in the collection.
objectWorkType = element objectWorkType {xsd:string, attr_termsource, attr_termsourceID}

## A wrapper for Object/Work Type
objectWorkTypeWrap = element objectWorkTypeWrap {objectWorkType+}

## A word or phrase that elaborates on the nature of the measurements of the work when necessary, as when the measurements are approximate.
qualifierMeasurements = element qualifierMeasurements {xsd:string}

## The shape of a work, used for unusual shapes (e.g., an oval painting).
shapeMeasurements = element shapeMeasurements {xsd:string}

## The configuration of a work, including technical formats, used as necessary.
formatMeasurements = element formatMeasurements {xsd:string}

## An expression of the ratio between the size of the representation of something and that thing (e.g., the size of the drawn structure and the actual built work). Used for studies, record drawings, models, and other representations drawn or constructed to scale.
scaleMeasurements = element scaleMeasurements {xsd:string}

## A unique record identification in the contributors (local) system.
recordID = element recordID {xsd:string, attr_type}

## The source of information in this record, generally the repository or other institution.
recordSource = element recordSource {xsd:string}

## Term establishing whether the record represents an individual item or a collection, series, or group of works.
recordType = element recordType {xsd:string}

## A wrapper for information about the record that contains the cataloguing information.
recordWrap = element recordWrap {recordID+, recordType, recordSource*, recordInfoWrap*}

## A term describing the nature of the relationship between the work at hand and the related entity.
relatedWorkRelType = element relatedWorkRelType {xsd:string}

## A wrapper for one work, group, collection, or series that is directly related to the work at hand, including direct relationships between two works, between a work and its components, and between an item and the larger group, collection, or series of works. Related works may also include works that were created as pendants or otherwise to be displayed together with the work at hand. If there is more than one Related Work for the work being catalogued, repeat this element.
relatedWorkSet = element relatedWorkSet {
  linkRelatedWork*,
  relatedWorkRelType?,
  labelRelatedWork*,
  locRelatedWork*}

## A wrapper for Related Works information.
relatedWorksWrap = element relatedWorksWrap {relatedWorkSet*}

## Information about rights management; may include copyright and other intellectual property statements required for use. This element should include the name of the holder of the reproduction rights to the image.
rightsWork = element rightsWork {xsd:string, attr_type}

## The role played by the creator or other agent in the creation or production of the work.
roleCreator = element roleCreator {xsd:string, attr_termsource, attr_termsourceID}

## The source for the descriptive note, generally a published source.
sourceDescriptiveNote = element sourceDescriptiveNote {xsd:string}

## The source of the information about materials and technique, often used when citing a published source of watermarks.
sourceMaterialsTech = element sourceMaterialsTech {xsd:string}

## The source for the name, generally a published source.
sourceNameCreator = element sourceNameCreator {xsd:string}

## The published source of the state or edition information. 
sourceStateEdition = element sourceStateEdition {xsd:string}

## The source for the title, generally a published source.
sourceTitle = element sourceTitle {xsd:string}

## Term that identifies the named, defined style, historical or artistic period, movement, group, or school whose characteristics are represented in the work being catalogued.
style = element style {xsd:string, attr_termsource, attr_termsourceID}

## A wrapper for Style Elements
styleWrap = element styleWrap {style*}

## A wrapper for one set of Subject Indexing information. If a work has multiple parts or otherwise has separate, multiple subjects, repeat this element with Extent Subject. This element may also be repeated to distinguish between subjects that reflect what a work is of (description and identification) from what it is about (interpretation).
indexingSubjectSet = element indexingSubjectSet {extentSubject?, subjectTerm*, attr_type}

## A wrapper for Subject Indexing information about the work, group, collection, or series that is being catalogued.
indexingSubjectWrap = element indexingSubjectWrap {indexingSubjectSet*}

## Terms that identify, describe, and/or interpret what is depicted in and by a work. These may include proper names (e.g., people, events, places), iconography, themes from literature, or generic terms describing the material world, or topics (e.g., concepts, themes, or issues).  
subjectTerm = element subjectTerm {xsd:string, attr_type, attr_termsource, attr_termsourceID}

## A term to index materials and/or technique; may be combined with extent as necessary.
termMaterialsTech = element termMaterialsTech {xsd:string, attr_termsource}

## Titles, identifying phrases, or names given to a work of art, architecture, or material culture. For complex works, series, or collections, the title may refer to a discrete unit within the larger entity (a print from a series, a photograph in a collection, a panel from a fresco cycle, a building within a temple complex) or it may identify only the larger entity (series, collection, cycle) itself.
title = element title {xsd:string, attr_pref, attr_lang, attr_type, attr_langtermsource}

## Wrapper for one title and its related information. If there is more than one title, repeat the Title Set element.
titleSet = element titleSet {title, sourceTitle*}

## Wrapper for Title information. 
titleWrap = element titleWrap {titleSet+}

## A description of the lifespan of the person or the existence of the corporate body, using "ca." and any other expressions of uncertainty or nuance. For Birth and Death date attributes, record years of birth and death, estimated where necessary. For a corporate body, use birthdate and deathdate to record the dates of founding and dissolution.
vitalDatesCreator = element vitalDatesCreator {
  xsd:string,
  attribute birthDate {xsd:string}?,
  attribute deathDate {xsd:string}?,
  attr_termsource}

## Any unique numeric or alphanumeric identifier(s) assigned to a work by a repository.
workID = element workID {xsd:string, attr_type}

attr_termsource = attribute termsource {xsd:string}?

attr_termsourceID = attribute termsourceID {xsd:string}?

attr_linkscheme = attribute linkscheme {xsd:string}?

attr_locID = attribute locID {xsd:string}?

attr_locIDtype = attribute locIDtype {xsd:string}?

attr_pref = attribute pref {xsd:string}?

attr_type = attribute type {xsd:string}?

attr_langtermsource = attribute langtermsource {xsd:string}?

attr_indentifier = attribute indentifier {xsd:string}?

attr_lang = attribute lang {xsd:string}?

## When there are multiple creators, a term indicating the part of the work created by this creator.
extentCreator = element extentCreator {xsd:string}

## An explanation of the part of the work to which the materials or technique are applicable; included when necessary for clarity.
extentMaterialsTech = element extentMaterialsTech {xsd:string}

## When there are multiple subjects, a term indicating the part of the work to which these subject terms apply.
extentSubject = element extentSubject {xsd:string}

## Wrapper for metadata information about this record.
recordInfoWrap = element recordInfoWrap {
  recordInfoID*,
  recordInfoLink*,
  recordRelID*,
  recordMetadataLoc*,
  recordMetadataDate*,
  attr_type}

## Unique ID of the metadata.
recordInfoID = element recordInfoID {xsd:string, attr_type}

## Link of the metadata (not the same as link of the object).
recordInfoLink = element recordInfoLink {xsd:string}

## Unique ID of the metadata of the related object.
recordRelID = element recordRelID {xsd:string, attr_type}

## Pointer(s) to other metadata (administrative, technical, structural).
recordMetadataLoc = element recordMetadataLoc {xsd:string, attr_type}

## Creation date or date modified.
recordMetadataDate = element recordMetadataDate {xsd:string, attr_type, attr_termsource}
