eag.rng

<?xml version="1.0"?>
<!--
    EAG 2012 Schema
    Version: 0.1e
    Date: 20120828
    Editor: APEx project (www.apex-project.eu)
-->
<rng:grammar xmlns:rng="http://relaxng.org/ns/structure/1.0" xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns="http://www.archivesportaleurope.eu/profiles/eag/" ns="http://www.archivesportaleurope.eu/profiles/eag/" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
    <rng:include href="c:/my/.emacs.d/nxml-schemas/xml.rng" ns="http://www.w3.org/XML/1998/namespace"/>
    <rng:start><rng:ref name="starting_eag"/></rng:start><rng:define name="starting_eag"><rng:element name="eag">
                <rng:ref name="control"/>
                <rng:ref name="archguide"/>
                <rng:ref name="relations"/>
            <rng:ref name="audience"/>
    </rng:element></rng:define>
    <rng:define name="audience">
        <rng:attribute name="audience">
                <rng:choice>
                    <rng:value>external</rng:value>
                    <rng:value>internal</rng:value>
                </rng:choice>
        </rng:attribute>
    </rng:define>
    <rng:define name="href">
        <rng:optional><rng:attribute name="href"><rng:data type="anyURI"/></rng:attribute></rng:optional>
    </rng:define>
    <rng:define name="a.xml.common">
        <rng:attribute name="id" ns="http://www.w3.org/XML/1998/namespace"><rng:text/></rng:attribute>
        <rng:attribute name="lang" ns="http://www.w3.org/XML/1998/namespace"><rng:data type="language"/></rng:attribute>
    </rng:define>
    <rng:define name="a.xml.common.base">
        <rng:ref name="a.xml.common"/>
        <rng:attribute name="base" ns="http://www.w3.org/XML/1998/namespace"><rng:text/></rng:attribute>
    </rng:define>
    <!-- ###############
       CONTROL
   ################ -->
    <rng:define name="control"><rng:element name="control">
                <rng:ref name="recordId"/>
                <rng:zeroOrMore><rng:ref name="otherRecordId"/></rng:zeroOrMore>
                <rng:ref name="maintenanceAgency"/>
                <rng:ref name="maintenanceStatus"/>
                <rng:ref name="maintenanceHistory"/>
                <rng:optional><rng:ref name="languageDeclarations"/></rng:optional>
                <rng:zeroOrMore><rng:ref name="conventionDeclaration"/></rng:zeroOrMore>
                <rng:zeroOrMore><rng:ref name="localControl"/></rng:zeroOrMore>
                <rng:zeroOrMore><rng:ref name="localTypeDeclaration"/></rng:zeroOrMore>
                <rng:optional><rng:ref name="publicationStatus"/></rng:optional>
                <rng:optional><rng:ref name="sources"/></rng:optional>
            <rng:ref name="a.xml.common.base"/>
    </rng:element></rng:define>
    <rng:define name="recordId"><rng:element name="recordId">
                <rng:data type="NMTOKEN"/><rng:attribute name="id" ns="http://www.w3.org/XML/1998/namespace"><rng:text/></rng:attribute>
    </rng:element></rng:define>
    <rng:define name="otherRecordId"><rng:element name="otherRecordId">
                <rng:data type="string"/><rng:attribute name="id" ns="http://www.w3.org/XML/1998/namespace"><rng:text/></rng:attribute><rng:ref name="localType"/>
    </rng:element></rng:define>
    <rng:define name="localType">
        <rng:optional><rng:attribute name="localType"><rng:data type="anyURI"/></rng:attribute></rng:optional>
    </rng:define>
    <rng:define name="maintenanceAgency"><rng:element name="maintenanceAgency">
                <rng:ref name="agencyCode"/>
                <rng:ref name="agencyName"/>
                <rng:zeroOrMore><rng:ref name="otherAgencyCode"/></rng:zeroOrMore>
                <rng:optional><rng:ref name="descriptiveNote"/></rng:optional>
    </rng:element></rng:define>
    <rng:define name="maintenanceStatus"><rng:element name="maintenanceStatus">
                        <rng:choice>
                            <rng:value>cancelled</rng:value>
                            <rng:value>deleted</rng:value>
                            <rng:value>deletedMerged</rng:value>
                            <rng:value>deletedReplaced</rng:value>
                            <rng:value>deletedSplit</rng:value>
                            <rng:value>derived</rng:value>
                            <rng:value>new</rng:value>
                            <rng:value>revised</rng:value>
                        </rng:choice>
                    <rng:attribute name="id" ns="http://www.w3.org/XML/1998/namespace"><rng:text/></rng:attribute>
    </rng:element></rng:define>
    <rng:define name="maintenanceHistory"><rng:element name="maintenanceHistory">
                <rng:oneOrMore><rng:ref name="maintenanceEvent"/></rng:oneOrMore>
            <rng:ref name="a.xml.common"/>
    </rng:element></rng:define>
    <rng:define name="maintenanceEvent"><rng:element name="maintenanceEvent">
                <rng:ref name="agent"/>
                <rng:ref name="agentType"/>
                <rng:ref name="eventDateTime"/>
                <rng:ref name="eventType"/>
            <rng:ref name="a.xml.common"/>
    </rng:element></rng:define>
    <rng:define name="eventType"><rng:element name="eventType">
                        <rng:choice>
                            <rng:value>created</rng:value>
                            <rng:value>revised</rng:value>
                            <rng:value>deleted</rng:value>
                            <rng:value>cancelled</rng:value>
                            <rng:value>derived</rng:value>
                            <rng:value>updated</rng:value>
                            <rng:value>published</rng:value>
                        </rng:choice>
                    <rng:attribute name="id" ns="http://www.w3.org/XML/1998/namespace"><rng:text/></rng:attribute>
    </rng:element></rng:define>
    <rng:define name="eventDateTime"><rng:element name="eventDateTime">
            <rng:ref name="a.xml.common"/>
            <rng:optional><rng:attribute name="standardDateTime"><rng:ref name="m.data.standardDateTime"/></rng:attribute></rng:optional>
    </rng:element></rng:define>
    <rng:define name="m.data.standardDateTime">
        <rng:choice>
                <rng:data type="date"><rng:param name="maxInclusive">2099-12-31</rng:param></rng:data>
                <rng:data type="gYear"><rng:param name="maxInclusive">2099</rng:param></rng:data>
                <rng:data type="gYearMonth"><rng:param name="maxInclusive">2099-12</rng:param></rng:data>
                <rng:data type="dateTime"><rng:param name="maxInclusive">2099-12-31T23:59:59</rng:param></rng:data>
        </rng:choice>
    </rng:define>
    <rng:define name="agentType"><rng:element name="agentType">
                        <rng:choice>
                            <rng:value>human</rng:value>
                            <rng:value>machine</rng:value>
                        </rng:choice>
                    <rng:attribute name="id" ns="http://www.w3.org/XML/1998/namespace"><rng:text/></rng:attribute>
    </rng:element></rng:define>
    <rng:define name="agent"><rng:element name="agent">
            <rng:ref name="a.xml.common"/>
    </rng:element></rng:define>
    <rng:define name="languageDeclarations"><rng:element name="languageDeclarations">
                <rng:oneOrMore><rng:ref name="languageDeclaration"/></rng:oneOrMore>
    </rng:element></rng:define>
    <rng:define name="languageDeclaration"><rng:element name="languageDeclaration">
                <rng:ref name="language"/>
                <rng:ref name="script"/>
                <rng:optional><rng:ref name="descriptiveNote"/></rng:optional>
            <rng:ref name="a.xml.common"/>
    </rng:element></rng:define>
    <rng:define name="language"><rng:element name="language">
            <rng:ref name="a.xml.common"/>
            <rng:attribute name="languageCode">
                    <rng:data type="string"><rng:param name="pattern">[a-z]{3}</rng:param></rng:data>
            </rng:attribute>
    </rng:element></rng:define>
    <rng:define name="script"><rng:element name="script">
            <rng:ref name="a.xml.common"/>
            <rng:ref name="a.scriptCode"/>
    </rng:element></rng:define>
    <rng:define name="a.scriptCode">
        <rng:optional><rng:attribute name="scriptCode">
                <rng:data type="string"><rng:param name="pattern">[A-Z][a-z]{3}</rng:param></rng:data>
        </rng:attribute></rng:optional>
    </rng:define>
    <rng:define name="conventionDeclaration"><rng:element name="conventionDeclaration">
                <rng:optional><rng:ref name="abbreviation"/></rng:optional>
                <rng:oneOrMore><rng:ref name="citation"/></rng:oneOrMore>
                <rng:optional><rng:ref name="descriptiveNote"/></rng:optional>
            <rng:ref name="a.xml.common"/>
    </rng:element></rng:define>
    <rng:define name="abbreviation"><rng:element name="abbreviation">
    <rng:text/></rng:element></rng:define>
    <rng:define name="citation"><rng:element name="citation">
            <rng:ref name="a.xml.common"/>
            <rng:ref name="href"/>
            <rng:optional><rng:attribute name="lastDateTimeVerified"><rng:ref name="m.data.standardDateTime"/></rng:attribute></rng:optional>
    </rng:element></rng:define>
    <rng:define name="localControl"><rng:element name="localControl">
                <rng:zeroOrMore><rng:ref name="term"/></rng:zeroOrMore>
                <rng:optional><rng:choice>
                    <rng:ref name="date"/>
                    <rng:ref name="dateRange"/>
                </rng:choice></rng:optional>
            <rng:ref name="a.xml.common"/>
            <rng:ref name="localType"/>
    </rng:element></rng:define>
    <rng:define name="term"><rng:element name="term">
                        <rng:choice>
                            <rng:value>simple</rng:value>
                            <rng:value>extended</rng:value>
                        </rng:choice>
                    <rng:attribute name="id" ns="http://www.w3.org/XML/1998/namespace"><rng:text/></rng:attribute>
                    <rng:ref name="m.entryLanguageAttributes"/>
                    <rng:optional><rng:attribute name="lastDateTimeVerified"><rng:ref name="m.data.standardDateTime"/></rng:attribute></rng:optional>
                    <rng:optional><rng:attribute name="vocabularySource"><rng:data type="anyURI"/></rng:attribute></rng:optional>
    </rng:element></rng:define>
    <rng:define name="m.entryLanguageAttributes">
        <rng:ref name="a.scriptCode"/>
        <rng:attribute name="lang" ns="http://www.w3.org/XML/1998/namespace"><rng:data type="language"/></rng:attribute>
        <rng:optional><rng:attribute name="transliteration"><rng:data type="NMTOKEN"/></rng:attribute></rng:optional>
    </rng:define>
    <rng:define name="date"><rng:element name="date">
            <rng:ref name="a.xml.common"/>
            <rng:optional><rng:attribute name="localType"><rng:data type="anyURI"/></rng:attribute></rng:optional>
            <rng:ref name="m.dateSingle"/>
    </rng:element></rng:define>
    <rng:define name="m.dateSingle">
        <rng:optional><rng:attribute name="standardDate"><rng:ref name="m.data.standardDate"/></rng:attribute></rng:optional>
        <rng:optional><rng:attribute name="notBefore"><rng:ref name="m.data.standardDate"/></rng:attribute></rng:optional>
        <rng:optional><rng:attribute name="notAfter"><rng:ref name="m.data.standardDate"/></rng:attribute></rng:optional>
    </rng:define>
    <rng:define name="dateRange"><rng:element name="dateRange">
                <rng:ref name="fromDate"/>
                <rng:ref name="toDate"/>
            <rng:ref name="a.xml.common"/>
            <rng:optional><rng:attribute name="localType"><rng:data type="anyURI"/></rng:attribute></rng:optional>
    </rng:element></rng:define>
    <rng:define name="fromDate"><rng:element name="fromDate">
            <rng:ref name="a.xml.common"/>
            <rng:ref name="m.dateSingle"/>
    </rng:element></rng:define>
    <rng:define name="toDate"><rng:element name="toDate">
            <rng:ref name="a.xml.common"/>
            <rng:ref name="m.dateSingle"/>
    </rng:element></rng:define>
    <rng:define name="m.data.standardDate">
        <rng:choice>
                <rng:data type="date"><rng:param name="maxInclusive">2099-12-31</rng:param></rng:data>
                <rng:data type="gYear"><rng:param name="maxInclusive">2099</rng:param></rng:data>
                <rng:data type="gYearMonth"><rng:param name="maxInclusive">2099-12</rng:param></rng:data>
        </rng:choice>
    </rng:define>
    <rng:define name="localTypeDeclaration"><rng:element name="localTypeDeclaration">
                <rng:ref name="citation"/>
                <rng:optional><rng:ref name="abbreviation"/></rng:optional>
                <rng:optional><rng:ref name="descriptiveNote"/></rng:optional>
            <rng:ref name="a.xml.common"/>
    </rng:element></rng:define>
    <rng:define name="publicationStatus"><rng:element name="publicationStatus">
                        <rng:choice>
                            <rng:value>inProcess</rng:value>
                            <rng:value>approved</rng:value>
                        </rng:choice>
                    <rng:attribute name="id" ns="http://www.w3.org/XML/1998/namespace"><rng:text/></rng:attribute>
    </rng:element></rng:define>
    <rng:define name="sources"><rng:element name="sources">
                <rng:oneOrMore><rng:ref name="source"/></rng:oneOrMore>
            <rng:ref name="a.xml.common.base"/>
    </rng:element></rng:define>
    <rng:define name="source"><rng:element name="source">
                <rng:optional><rng:ref name="sourceEntry"/></rng:optional>
                <rng:optional><rng:choice>
                    <rng:ref name="objectXMLWrap"/>
                    <rng:ref name="objectBinWrap"/>
                </rng:choice></rng:optional>
                <rng:optional><rng:ref name="descriptiveNote"/></rng:optional>
            <rng:attribute name="id" ns="http://www.w3.org/XML/1998/namespace"><rng:text/></rng:attribute>
            <rng:optional><rng:attribute name="lastDateTimeVerified"><rng:ref name="m.data.standardDateTime"/></rng:attribute></rng:optional>
            <rng:ref name="href"/>
    </rng:element></rng:define>
    <rng:define name="sourceEntry"><rng:element name="sourceEntry">
            <rng:attribute name="id" ns="http://www.w3.org/XML/1998/namespace"><rng:text/></rng:attribute>
            <rng:ref name="m.entryLanguageAttributes"/>
    </rng:element></rng:define>
    <rng:define name="objectXMLWrap"><rng:element name="objectXMLWrap">
            <rng:ref name="e.anyName"/>
            <rng:attribute name="id" ns="http://www.w3.org/XML/1998/namespace"><rng:text/></rng:attribute>
    </rng:element></rng:define>
    <rng:define name="objectBinWrap"><rng:element name="objectBinWrap">
                <rng:data type="base64Binary"/><rng:attribute name="id" ns="http://www.w3.org/XML/1998/namespace"><rng:text/></rng:attribute>
    </rng:element></rng:define>
    <rng:define name="e.anyName">
            <rng:element><rng:anyName/><rng:text/></rng:element>
    </rng:define>
    <rng:define name="agencyCode"><rng:element name="agencyCode">
            <rng:attribute name="id" ns="http://www.w3.org/XML/1998/namespace"><rng:text/></rng:attribute>
    </rng:element></rng:define>
    <rng:define name="agencyName"><rng:element name="agencyName">
            <rng:ref name="a.xml.common"/>
    </rng:element></rng:define>
    <rng:define name="otherAgencyCode"><rng:element name="otherAgencyCode">
            <rng:ref name="localType"/>
            <rng:attribute name="id" ns="http://www.w3.org/XML/1998/namespace"><rng:text/></rng:attribute>
    </rng:element></rng:define>
    <rng:define name="descriptiveNote"><rng:element name="descriptiveNote">
                <rng:oneOrMore><rng:ref name="p"/></rng:oneOrMore>
            <rng:ref name="a.xml.common"/>
    </rng:element></rng:define>
    <rng:define name="p"><rng:element name="p">
            <rng:ref name="a.xml.common"/>
    </rng:element></rng:define>
    <!-- ##################
        ARCHGUIDE
    ################### -->
    <rng:define name="archguide"><rng:element name="archguide">
                <rng:ref name="identity"/>
                <rng:ref name="desc"/>
    </rng:element></rng:define>
    <rng:define name="identity"><rng:element name="identity">
                <rng:ref name="repositorid"/>
                <rng:ref name="otherRepositorId"/>
                <rng:oneOrMore><rng:ref name="autform"/></rng:oneOrMore>
                <rng:zeroOrMore><rng:ref name="parform"/></rng:zeroOrMore>
                <rng:zeroOrMore><rng:ref name="nonpreform"/></rng:zeroOrMore>
                <rng:zeroOrMore><rng:ref name="repositoryType"/></rng:zeroOrMore>
    </rng:element></rng:define>
    <rng:define name="repositorid"><rng:element name="repositorid">
            <rng:attribute name="countrycode"><rng:data type="NMTOKEN"/></rng:attribute>
            <rng:attribute name="repositorycode"><rng:data type="NMTOKEN"/></rng:attribute>
    </rng:element></rng:define>
    <rng:define name="otherRepositorId"><rng:element name="otherRepositorId">
    <rng:text/></rng:element></rng:define>
    <rng:define name="autform"><rng:element name="autform">
            <rng:attribute name="lang" ns="http://www.w3.org/XML/1998/namespace"><rng:data type="language"/></rng:attribute>
    </rng:element></rng:define>
    <rng:define name="parform"><rng:element name="parform">
            <rng:attribute name="lang" ns="http://www.w3.org/XML/1998/namespace"><rng:data type="language"/></rng:attribute>
    </rng:element></rng:define>
    <rng:define name="nonpreform"><rng:element name="nonpreform">
                <rng:ref name="useDates"/>
            <rng:attribute name="lang" ns="http://www.w3.org/XML/1998/namespace"><rng:data type="language"/></rng:attribute>
    </rng:element></rng:define>
    <rng:define name="useDates"><rng:element name="useDates">
                <rng:ref name="m.dates"/>
    </rng:element></rng:define>
    <rng:define name="m.dates">
        <rng:choice>
            <rng:ref name="date"/>
            <rng:ref name="dateRange"/>
            <rng:ref name="dateSet"/>
        </rng:choice>
    </rng:define>
    <rng:define name="dateSet"><rng:element name="dateSet">
                <rng:choice>
                    <rng:ref name="date"/>
                    <rng:ref name="dateRange"/>
                </rng:choice>
                <rng:oneOrMore><rng:choice>
                    <rng:ref name="date"/>
                    <rng:ref name="dateRange"/>
                </rng:choice></rng:oneOrMore>
    </rng:element></rng:define>
    <rng:define name="repositoryType"><rng:element name="repositoryType">
                        <rng:choice>
                            <rng:value>National archives</rng:value>
                            <rng:value>Regional archives</rng:value>
                            <rng:value>Country/local authority archives</rng:value>
                            <rng:value>Municipal archives</rng:value>
                            <rng:value>Specialised government archives</rng:value>
                            <rng:value>Private persons and family archives</rng:value>
                            <rng:value>Church and religious archives</rng:value>
                            <rng:value>Business archives</rng:value>
                            <rng:value>University and research archives</rng:value>
                            <rng:value>Media archives</rng:value>
                            <rng:value>Archives of political parties, of popular/labour movement and other non-governmental organisations, associations, agencies and foundations</rng:value>
                            <rng:value>Specialised non-governmental archives and archives of other cultural (heritage) institutions</rng:value>
                        </rng:choice>
    </rng:element></rng:define>
    <rng:define name="desc"><rng:element name="desc">
                <rng:ref name="repositories"/>
    </rng:element></rng:define>
    <rng:define name="repositories"><rng:element name="repositories">
                <rng:oneOrMore><rng:ref name="repository"/></rng:oneOrMore>
    </rng:element></rng:define>
    <rng:define name="repository"><rng:element name="repository">
                <rng:zeroOrMore><rng:ref name="repositoryName"/></rng:zeroOrMore>
                <rng:optional><rng:ref name="repositoryRole"/></rng:optional>
                <rng:ref name="geogarea"/>
                <rng:oneOrMore><rng:ref name="location"/></rng:oneOrMore>
                <rng:zeroOrMore><rng:ref name="telephone"/></rng:zeroOrMore>
                <rng:zeroOrMore><rng:ref name="fax"/></rng:zeroOrMore>
                <rng:zeroOrMore><rng:ref name="email"/></rng:zeroOrMore>
                <rng:zeroOrMore><rng:ref name="webpage"/></rng:zeroOrMore>
                <rng:zeroOrMore><rng:ref name="directions"/></rng:zeroOrMore>
                <rng:optional><rng:ref name="repositorhist"/></rng:optional>
                <rng:optional><rng:ref name="repositorfound"/></rng:optional>
                <rng:optional><rng:ref name="repositorsup"/></rng:optional>
                <rng:optional><rng:ref name="buildinginfo"/></rng:optional>
                <rng:optional><rng:ref name="adminhierarchy"/></rng:optional>
                <rng:optional><rng:ref name="holdings"/></rng:optional>
                <rng:ref name="timetable"/>
                <rng:ref name="access"/>
                <rng:oneOrMore><rng:ref name="accessibility"/></rng:oneOrMore>
                <rng:optional><rng:ref name="services"/></rng:optional>
                <rng:optional><rng:ref name="descriptiveNote"/></rng:optional>
    </rng:element></rng:define>
    <rng:define name="repositoryName"><rng:element name="repositoryName">
            <rng:attribute name="lang" ns="http://www.w3.org/XML/1998/namespace"><rng:data type="language"/></rng:attribute>
    </rng:element></rng:define>
    <rng:define name="repositoryRole"><rng:element name="repositoryRole">
                        <rng:choice>
                            <rng:value type="string">Branch</rng:value>
                            <rng:value type="string">Head quarter</rng:value>
                            <rng:value type="string">Interim archive</rng:value>
                        </rng:choice>
    </rng:element></rng:define>
    <rng:define name="geogarea"><rng:element name="geogarea">
                        <rng:choice>
                            <rng:value>Africa</rng:value>
                            <rng:value>Antarctica</rng:value>
                            <rng:value>Asia</rng:value>
                            <rng:value>Australia</rng:value>
                            <rng:value>Europe</rng:value>
                            <rng:value>North America</rng:value>
                            <rng:value>South America</rng:value>
                        </rng:choice>
    </rng:element></rng:define>
    <rng:define name="location"><rng:element name="location">
                <rng:ref name="country"/>
                <rng:optional><rng:ref name="firstdem"/></rng:optional>
                <rng:optional><rng:ref name="secondem"/></rng:optional>
                <rng:ref name="municipalityPostalcode"/>
                <rng:optional><rng:ref name="localentity"/></rng:optional>
                <rng:ref name="street"/>
            <rng:ref name="localType"/>
            <rng:optional><rng:attribute name="longitude"><rng:data type="NMTOKEN"/></rng:attribute></rng:optional>
            <rng:optional><rng:attribute name="latitude"><rng:data type="NMTOKEN"/></rng:attribute></rng:optional>
    </rng:element></rng:define>
    <rng:define name="country"><rng:element name="country">
            <rng:attribute name="lang" ns="http://www.w3.org/XML/1998/namespace"><rng:data type="language"/></rng:attribute>
    </rng:element></rng:define>
    <rng:define name="firstdem"><rng:element name="firstdem">
            <rng:attribute name="lang" ns="http://www.w3.org/XML/1998/namespace"><rng:data type="language"/></rng:attribute>
    </rng:element></rng:define>
    <rng:define name="secondem"><rng:element name="secondem">
            <rng:attribute name="lang" ns="http://www.w3.org/XML/1998/namespace"><rng:data type="language"/></rng:attribute>
    </rng:element></rng:define>
    <rng:define name="municipalityPostalcode"><rng:element name="municipalityPostalcode">
            <rng:attribute name="lang" ns="http://www.w3.org/XML/1998/namespace"><rng:data type="language"/></rng:attribute>
    </rng:element></rng:define>
    <rng:define name="localentity"><rng:element name="localentity">
            <rng:attribute name="lang" ns="http://www.w3.org/XML/1998/namespace"><rng:data type="language"/></rng:attribute>
    </rng:element></rng:define>
    <rng:define name="street"><rng:element name="street">
            <rng:attribute name="lang" ns="http://www.w3.org/XML/1998/namespace"><rng:data type="language"/></rng:attribute>
    </rng:element></rng:define>
    <rng:define name="telephone"><rng:element name="telephone">
    <rng:text/></rng:element></rng:define>
    <rng:define name="fax"><rng:element name="fax">
    <rng:text/></rng:element></rng:define>
    <rng:define name="email"><rng:element name="email">
            <rng:ref name="href"/>
    </rng:element></rng:define>
    <rng:define name="webpage"><rng:element name="webpage">
            <rng:ref name="href"/>
    </rng:element></rng:define>
    <rng:define name="directions"><rng:element name="directions">
                <rng:zeroOrMore><rng:ref name="citation"/></rng:zeroOrMore>
            <rng:attribute name="lang" ns="http://www.w3.org/XML/1998/namespace"><rng:data type="language"/></rng:attribute>
    </rng:element></rng:define>
    <rng:define name="repositorhist"><rng:element name="repositorhist">
                <rng:ref name="descriptiveNote"/>
    </rng:element></rng:define>
    <rng:define name="repositorfound"><rng:element name="repositorfound">
                <rng:ref name="date"/>
                <rng:ref name="rule"/>
    </rng:element></rng:define>
    <rng:define name="repositorsup"><rng:element name="repositorsup">
                <rng:ref name="date"/>
                <rng:ref name="rule"/>
    </rng:element></rng:define>
    <rng:define name="rule"><rng:element name="rule">
            <rng:attribute name="lang" ns="http://www.w3.org/XML/1998/namespace"><rng:data type="language"/></rng:attribute>
    </rng:element></rng:define>
    <rng:define name="buildinginfo"><rng:element name="buildinginfo">
                <rng:optional><rng:ref name="building"/></rng:optional>
                <rng:optional><rng:ref name="repositorarea"/></rng:optional>
                <rng:optional><rng:ref name="lengthshelf"/></rng:optional>
    </rng:element></rng:define>
    <rng:define name="building"><rng:element name="building">
                <rng:ref name="descriptiveNote"/>
    </rng:element></rng:define>
    <rng:define name="repositorarea"><rng:element name="repositorarea">
                <rng:ref name="num"/>
    </rng:element></rng:define>
    <rng:define name="lengthshelf"><rng:element name="lengthshelf">
                <rng:ref name="num"/>
    </rng:element></rng:define>
    <rng:define name="num"><rng:element name="num">
            <rng:attribute name="unit">
                    <rng:choice>
                        <rng:value>squaremetre</rng:value>
                        <rng:value>linearmetre</rng:value>
                        <rng:value>site</rng:value>
                        <rng:value>book</rng:value>
                        <rng:value>title</rng:value>
                    </rng:choice>
            </rng:attribute>
    </rng:element></rng:define>
    <rng:define name="adminhierarchy"><rng:element name="adminhierarchy">
                <rng:oneOrMore><rng:ref name="adminunit"/></rng:oneOrMore>
    </rng:element></rng:define>
    <rng:define name="adminunit"><rng:element name="adminunit">
            <rng:attribute name="lang" ns="http://www.w3.org/XML/1998/namespace"><rng:data type="language"/></rng:attribute>
    </rng:element></rng:define>
    <rng:define name="holdings"><rng:element name="holdings">
                <rng:optional><rng:ref name="descriptiveNote"/></rng:optional>
                <rng:optional><rng:ref name="m.dates"/></rng:optional>
                <rng:optional><rng:ref name="extent"/></rng:optional>
    </rng:element></rng:define>
    <rng:define name="extent"><rng:element name="extent">
                <rng:ref name="num"/>
    </rng:element></rng:define>
    <rng:define name="timetable"><rng:element name="timetable">
                <rng:ref name="opening"/>
                <rng:optional><rng:ref name="closing"/></rng:optional>
    </rng:element></rng:define>
    <rng:define name="opening"><rng:element name="opening">
    <rng:text/></rng:element></rng:define>
    <rng:define name="closing"><rng:element name="closing">
            <rng:optional><rng:attribute name="standardDate"><rng:ref name="m.data.standardDate"/></rng:attribute></rng:optional>
    </rng:element></rng:define>
    <rng:define name="access"><rng:element name="access">
                <rng:zeroOrMore><rng:ref name="restaccess"/></rng:zeroOrMore>
                <rng:zeroOrMore><rng:ref name="termsOfUse"/></rng:zeroOrMore>
            <rng:ref name="question"/>
    </rng:element></rng:define>
    <rng:define name="question">
        <rng:attribute name="question">
                <rng:choice>
                    <rng:value>yes</rng:value>
                    <rng:value>no</rng:value>
                </rng:choice>
        </rng:attribute>
    </rng:define>
    <rng:define name="restaccess"><rng:element name="restaccess">
            <rng:attribute name="lang" ns="http://www.w3.org/XML/1998/namespace"><rng:data type="language"/></rng:attribute>
    </rng:element></rng:define>
    <rng:define name="termsOfUse"><rng:element name="termsOfUse">
            <rng:attribute name="lang" ns="http://www.w3.org/XML/1998/namespace"><rng:data type="language"/></rng:attribute>
            <rng:ref name="href"/>
    </rng:element></rng:define>
    <rng:define name="accessibility"><rng:element name="accessibility">
            <rng:attribute name="lang" ns="http://www.w3.org/XML/1998/namespace"><rng:data type="language"/></rng:attribute>
            <rng:ref name="question"/>
    </rng:element></rng:define>
    <rng:define name="services"><rng:element name="services">
                <rng:ref name="searchroom"/>
                <rng:optional><rng:ref name="library"/></rng:optional>
                <rng:optional><rng:ref name="internetAccess"/></rng:optional>
                <rng:optional><rng:ref name="techservices"/></rng:optional>
                <rng:optional><rng:ref name="recreationalServices"/></rng:optional>
    </rng:element></rng:define>
    <rng:define name="searchroom"><rng:element name="searchroom">
                <rng:optional><rng:ref name="contact"/></rng:optional>
                <rng:ref name="workPlaces"/>
                <rng:optional><rng:ref name="computerPlaces"/></rng:optional>
                <rng:optional><rng:ref name="microfilmPlaces"/></rng:optional>
                <rng:zeroOrMore><rng:ref name="webpage"/></rng:zeroOrMore>
                <rng:optional><rng:ref name="photographAllowance"/></rng:optional>
                <rng:zeroOrMore><rng:ref name="readersTicket"/></rng:zeroOrMore>
                <rng:zeroOrMore><rng:ref name="advancedOrders"/></rng:zeroOrMore>
                <rng:zeroOrMore><rng:ref name="researchServices"/></rng:zeroOrMore>
    </rng:element></rng:define>
    <rng:define name="contact"><rng:element name="contact">
                <rng:zeroOrMore><rng:ref name="telephone"/></rng:zeroOrMore>
                <rng:zeroOrMore><rng:ref name="email"/></rng:zeroOrMore>
    </rng:element></rng:define>
    <rng:define name="workPlaces"><rng:element name="workPlaces">
                <rng:ref name="num"/>
    </rng:element></rng:define>
    <rng:define name="computerPlaces"><rng:element name="computerPlaces">
                <rng:ref name="num"/>
                <rng:ref name="descriptiveNote"/>
    </rng:element></rng:define>
    <rng:define name="microfilmPlaces"><rng:element name="microfilmPlaces">
                <rng:ref name="num"/>
    </rng:element></rng:define>
    <rng:define name="photographAllowance"><rng:element name="photographAllowance">
                        <rng:choice>
                            <rng:value>depending on the material</rng:value>
                            <rng:value>no</rng:value>
                            <rng:value>yes</rng:value>
                            <rng:value>yes (without flash)</rng:value>
                        </rng:choice>
    </rng:element></rng:define>
    <rng:define name="readersTicket"><rng:element name="readersTicket">
            <rng:ref name="href"/>
            <rng:attribute name="lang" ns="http://www.w3.org/XML/1998/namespace"><rng:data type="language"/></rng:attribute>
    </rng:element></rng:define>
    <rng:define name="advancedOrders"><rng:element name="advancedOrders">
            <rng:ref name="href"/>
            <rng:attribute name="lang" ns="http://www.w3.org/XML/1998/namespace"><rng:data type="language"/></rng:attribute>
    </rng:element></rng:define>
    <rng:define name="researchServices"><rng:element name="researchServices">
                <rng:ref name="descriptiveNote"/>
    </rng:element></rng:define>
    <rng:define name="library"><rng:element name="library">
                <rng:optional><rng:ref name="contact"/></rng:optional>
                <rng:zeroOrMore><rng:ref name="webpage"/></rng:zeroOrMore>
                <rng:optional><rng:ref name="monographicpub"/></rng:optional>
                <rng:optional><rng:ref name="serialpub"/></rng:optional>
    </rng:element></rng:define>
    <rng:define name="monographicpub"><rng:element name="monographicpub">
                <rng:ref name="num"/>
    </rng:element></rng:define>
    <rng:define name="serialpub"><rng:element name="serialpub">
                <rng:ref name="num"/>
    </rng:element></rng:define>
    <rng:define name="internetAccess"><rng:element name="internetAccess">
                <rng:optional><rng:ref name="descriptiveNote"/></rng:optional>
            <rng:ref name="question"/>
    </rng:element></rng:define>
    <rng:define name="techservices"><rng:element name="techservices">
                <rng:optional><rng:ref name="restorationlab"/></rng:optional>
                <rng:ref name="reproductionser"/>
    </rng:element></rng:define>
    <rng:define name="restorationlab"><rng:element name="restorationlab">
                <rng:optional><rng:ref name="descriptiveNote"/></rng:optional>
                <rng:optional><rng:ref name="contact"/></rng:optional>
                <rng:zeroOrMore><rng:ref name="webpage"/></rng:zeroOrMore>
            <rng:ref name="question"/>
    </rng:element></rng:define>
    <rng:define name="reproductionser"><rng:element name="reproductionser">
                <rng:optional><rng:ref name="descriptiveNote"/></rng:optional>
                <rng:optional><rng:ref name="contact"/></rng:optional>
                <rng:zeroOrMore><rng:ref name="webpage"/></rng:zeroOrMore>
                <rng:optional><rng:ref name="microformser"/></rng:optional>
                <rng:optional><rng:ref name="photographser"/></rng:optional>
                <rng:optional><rng:ref name="digitalser"/></rng:optional>
                <rng:optional><rng:ref name="photocopyser"/></rng:optional>
            <rng:ref name="question"/>
    </rng:element></rng:define>
    <rng:define name="microformser"><rng:element name="microformser">
            <rng:ref name="question"/>
    </rng:element></rng:define>
    <rng:define name="photographser"><rng:element name="photographser">
            <rng:ref name="question"/>
    </rng:element></rng:define>
    <rng:define name="digitalser"><rng:element name="digitalser">
            <rng:ref name="question"/>
    </rng:element></rng:define>
    <rng:define name="photocopyser"><rng:element name="photocopyser">
            <rng:ref name="question"/>
    </rng:element></rng:define>
    <rng:define name="recreationalServices"><rng:element name="recreationalServices">
                <rng:optional><rng:ref name="refreshment"/></rng:optional>
                <rng:zeroOrMore><rng:ref name="exhibition"/></rng:zeroOrMore>
                <rng:zeroOrMore><rng:ref name="toursSessions"/></rng:zeroOrMore>
                <rng:zeroOrMore><rng:ref name="otherServices"/></rng:zeroOrMore>
    </rng:element></rng:define>
    <rng:define name="refreshment"><rng:element name="refreshment">
                <rng:ref name="descriptiveNote"/>
    </rng:element></rng:define>
    <rng:define name="exhibition"><rng:element name="exhibition">
                <rng:optional><rng:ref name="descriptiveNote"/></rng:optional>
                <rng:optional><rng:ref name="webpage"/></rng:optional>
    </rng:element></rng:define>
    <rng:define name="toursSessions"><rng:element name="toursSessions">
                <rng:optional><rng:ref name="descriptiveNote"/></rng:optional>
                <rng:optional><rng:ref name="webpage"/></rng:optional>
    </rng:element></rng:define>
    <rng:define name="otherServices"><rng:element name="otherServices">
                <rng:optional><rng:ref name="descriptiveNote"/></rng:optional>
                <rng:optional><rng:ref name="webpage"/></rng:optional>
    </rng:element></rng:define>
    <!-- ##################
       RELATIONS
   ################### -->
    <rng:define name="relations"><rng:element name="relations">
                <rng:zeroOrMore><rng:ref name="resourceRelation"/></rng:zeroOrMore>
                <rng:zeroOrMore><rng:ref name="eagRelation"/></rng:zeroOrMore>
    </rng:element></rng:define>
    <rng:define name="resourceRelation"><rng:element name="resourceRelation">
                <rng:ref name="relationEntry"/>
                <rng:optional><rng:ref name="descriptiveNote"/></rng:optional>
            <rng:attribute name="resourceRelationType">
                    <rng:choice>
                        <rng:value>creatorOf</rng:value>
                        <rng:value>subjectOf</rng:value>
                        <rng:value>other</rng:value>
                    </rng:choice>
            </rng:attribute>
            <rng:ref name="href"/>
    </rng:element></rng:define>
    <rng:define name="relationEntry"><rng:element name="relationEntry">
    <rng:text/></rng:element></rng:define>
    <rng:define name="eagRelation"><rng:element name="eagRelation">
                <rng:zeroOrMore><rng:ref name="relationEntry"/></rng:zeroOrMore>
                <rng:optional><rng:ref name="descriptiveNote"/></rng:optional>
            <rng:attribute name="eagRelationType">
                    <rng:choice>
                        <rng:value>hierarchical-child</rng:value>
                        <rng:value>hierarchical-parent</rng:value>
                        <rng:value>temporal-earlier</rng:value>
                        <rng:value>temporal-later</rng:value>
                        <rng:value>associative</rng:value>
                    </rng:choice>
            </rng:attribute>
            <rng:ref name="href"/>
    </rng:element></rng:define>
</rng:grammar>
