lido.rnc

default namespace lido = "http://www.lido-schema.org"
namespace a = "http://relaxng.org/ns/compatibility/annotations/1.0"
namespace doc = "http://www.mda.org.uk/spectrumXML/Documentation"
namespace gml = "http://www.opengis.net/gml"
namespace rng = "http://relaxng.org/ns/structure/1.0"
namespace xsd = "http://www.w3.org/2001/XMLSchema"

# xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
# xx LIDO - Lightweight Information Describing Objects
# xx - XML Schema for Contributing Content to Cultural Heritage Repositories -
# xx Version 1.0
# xx
# xx ICOM-CIDOC Working Group Data Harvesting and Interchange
# xx
# xx ARTstor, Collections Trust, Deutscher Museumsbund - Fachgruppe Dokumentation,
# xx Deutsches Dokumentationszentrum für Kunstgeschichte - Bildarchiv Foto Marburg,
# xx digiCULT-Verbund eG, Institut für Museumsforschung (SMB-PK), J. Paul Getty Trust,
# xx Zuse-Institut Berlin.
# xx
# xx LIDO v1.0
# xx
# xx Copyright 2009-2010 ICOM-CIDOC for the Data Harvesting and Interchange Working Group.
# xx
# xx LIDO current version: 2010-11-08: http://www.lido-schema.org/schema/v1.0/lido-v1.0.xsd
# xx LIDO specification document: 2010-11-08: http://www.lido-schema.org/schema/v1.0/lido-v1.0-specification.pdf
# xx
# xx Prepared for CIDOC Working Group Data Harvesting and Interchange, CDWA Lite/museumdat Working Group,
# xx Collections Trust and Deutscher Museumsbund - Fachgruppe Dokumentation by:
# xx Erin Coburn - The Metropolitan Museum of Art,
# xx Richard Light,
# xx Gordon McKenna - Collections Trust,
# xx Regine Stein - Deutsches Dokumentationszentrum für Kunstgeschichte Bildarchiv Foto Marburg,
# xx Axel Vitzthum - digiCULT-Verbund eG
# xx
# xx 2010-11-08: version 1.0. This schema version provides a common, single schema for contributing content to cultural
# xx heritage repositories. It meets the requirements articulated by CDWA Lite, museumdat and SPECTRUM.
# xx
# xx It is a substantial redesign and enhancement of the CDWA Lite and museumdat schemas based on
# xx recommendations of the CDWA Lite/museumdat Working Group, community feedback and further CIDOC-CRM
# xx analysis. It includes additional concepts to meet SPECTRUM requirements.
# xx
# xx The schema supersedes both the CDWA Lite v1.1 schema and the museumdat v1.0 schema and serves as the
# xx harvesting schema for contributing museum information for resource discovery.
# xx
# xx For most recent information on LIDO please refer to: http://www.lido-schema.org
# xx
# xx LIDO name and logo courtesy Rob Lancefield.
# xx
# xx LIDO XML schemas that are made available on the LIDO Web site (see http://www.lidoschema.org) are licensed
# xx under a Creative Commons Attribution-ShareAlike 3.0License. You must include the following notice in the software
# xx and its documentation:
# xx
# xx "Portions of this software may use a LIDO XML schema
# xx Copyright (c) 2009-2010 ICOM-CIDOC for the Data Harvesting and Interchange Working Group.
# xx These are licensed under the Creative Commons 3.0 Attribution-ShareAlike license."
# xx
# xx Whenever possible you should include links to LIDO (http://www.lido-schema.org) and to the license
# xx (http://creativecommons.org/licenses/by-sa/3.0/) as indicated in the notice above.
# xx
# xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
include "xml.rnc" inherit = xml
# rng:include href="http://schemas.opengis.net/gml/3.1.1/base/feature.rng" ns="http://www.opengis.net/gml"/

# Currently can't grok GML so you'll find 3 errors at: gmlComplexType = Point*, LineString*, Polygon*
# Converted from XSD and prettified by Vladimir Alexiev

start = lido | lidoWrap

## Definition: Contains identifying and indexing actor information.
## How to record: Data values of the type attribute: person, corporation, family, group.
actorComplexType =
  ## Definition: A unique identifier for the actor.
  ## How to record: Preferably taken from a published authority file.
  element actorID {identifierComplexType}*,
  ## Definition: A wrapper for name elements.
  ## How to record: if there exists more than one name for a single actor, repeat Name Actor Set.
  ## Notes: Indicates names, appellations, or other identifiers assigned to an individual, group of people, firm or other corporate body, or other entity.
  element nameActorSet {appellationComplexType}+,
  ## Definition: National or cultural affiliation of the person or corporate body.
  ## How to record: Preferably taken from a published controlled vocabulary.
  element nationalityActor {conceptComplexType, attr_sortorder}*,
  ## Definition: The lifespan of the person or the existence of the corporate body or group.
  ## How to record: For individuals, record birth date as earliest and death date as latest date, estimated where necessary. For a corporate body or group, record the dates of founding and dissolution.Although this is not a mandatory field the use of birth date and death date is strongly recommended for unambigous identification of individuals. The type attribute of earliest and latest date may specify for indiviudals, if birth and death dates or if dates of activity are recorded. Data values for type attribute may include: birthDate, deathDate, estimatedDate.
  element vitalDatesActor {dateComplexType}?,
  ## Definition: The sex of the individual.
  ## How to record: Data values: male, female, unknown, not applicable.Repeat this element for language variants only.
  ## Notes: Not applicable for corporate bodies.
  element genderActor {textComplexType}*,
  ## Definition: Indicates if the actor is an individual, a group of individuals, a family or a corporation (firm or other corporate body).
  ## How to record: Data values: person, group, family, corporation.
  attr_type

## Definition: Describes an actor with role and (if necessary) attributions related to the event the actor participated in.
actorInRoleComplexType =
  ## Definition: Contains structured identifying and indexing actor information.
  element actor {actorComplexType},
  ## Definition: Role of the Actor in the event.
  ## How to record: Preferably taken from a published controlled vocabulary.
  element roleActor {conceptComplexType, attr_sortorder}*,
  ## Definition: A qualifier used when the attribution is uncertain, is in dispute, when there is more than one actor, when there is a former attribution, or when the attribution otherwise requires explanation.
  ## How to record: Example values: attributed to, studio of, workshop of, atelier of, office of, assistant of, associate of, pupil of, follower of, school of, circle of, style of, after copyist of, manner of...
  element attributionQualifierActor {textComplexType}*,
  ## Definition: Extent of the actor's participation in the event, if there are several actors.
  ## How to record: Example values: design, execution, with additions by, figures, renovation by, predella, embroidery, cast by, printed by, ...
  element extentActor {textComplexType}*

## Definition: Wrapper for display and index elements for an actor with role information (participating in an event). For multiple actors repeat the element.
actorInRoleSetComplexType =
  ## Definition: Display element for an actor coupled with its specific role, corresponding to the following actor element.
  ## How to record: May include name, brief biographical information, and roles (if necessary) of the named actor, presented in a syntax suitable for display to the end-user and including any necessary indications of uncertainty, ambiguity, and nuance. If there is no known actor, make a reference to the presumed culture or nationality of the unknown actor.May be concatenated from the respective Actor element. The name should be in natural order, if possible, although inverted order is acceptable. Include nationality and life dates. For unknown actors, use e.g.: "unknown," "unknown Chinese," "Chinese," or "unknown 15th century Chinese."Repeat this element only for language variants.
  element displayActorInRole {textComplexType}*,
  ## Definition: Describes an actor with role and (if necessary) attributions in a structured way, consisting of the sub-elements actor, its role, attribution and extent.
  element actorInRole {actorInRoleComplexType}?

## Definition: Wrapper for display and index elements for one actor. For multiple actors repeat this element.
actorSetComplexType =
  ## Definition: Display element for one actor, corresponding to the following actor element.
  ## How to record: May include name, brief biographical information of the named actor, presented in a syntax suitable for display to the end-user. If there is no known actor, make a reference to the presumed culture or nationality of the unknown actor.May be concatenated from the respective Actor element. The name should be in natural order, if possible, although inverted order is acceptable. Include nationality and life dates. For unknown actors, use e.g.: "unknown," "unknown Chinese," "Chinese," or "unknown 15th century Chinese."Repeat this element only for language variants.
  element displayActor {textComplexType}*,
  ## Definition: Describes and identifies an actor, i.e. a person, corporation, family or group, containing structured sub-elements for indexing and identification references.
  element actor {actorComplexType}?

## How to record: Has the two values: "yes" or "no". ”yes” indicates, that the term is an additional term which is derived from an underlying controlled vocabulary (eg. synonym, generic term, superordinate term) and should be used only for retrieval."no" is default.
attr_addedSearchTerm =
  [ a:defaultValue = "no" ]
  attribute addedSearchTerm {"yes" | "no"}?

## Definition: Holds the administrative metadata for an object / work record.
## How to record: The attribute xml:lang is mandatory and specifies the language of the administrative metadata.For fully multi-lingual resources, repeat this element once for each language represented.If only a few data fields (e.g. title, creditline) are provided in more than one language, the respective text elements may be repeated specifying the lang attribute on the text level.
administrativeMetadata = element administrativeMetadata {administrativeMetadataComplexType}

## Definition: Holds the administrative metadata for an object / work record.
## How to record: The attribute xml:lang is mandatory and specifies the language of the administrative metadata.For fully multi-lingual resources, repeat this element once for each language represented.If only a few data fields (e.g. title, creditline) are provided in more than one language, the respective text elements may be repeated specifying the lang attribute on the text level.
administrativeMetadataComplexType =
  rightsWorkWrap?,
  recordWrap,
  resourceWrap?,
  attribute xml:lang {xsd:language}

## Definition: Wrapper for a name of an entity, and its related information.
## How to record: If there is more than one name, repeat the appellation element.
appellationComplexType =
  ## Definition: Appellations, e.g. titles, identifying phrases, or names given to an item, but also name of a person or corporation, also place name etc.
  ## How to record: Repeat this element only for language variants.
  element appellationValue {
    xsd:string,
    attr_pref,
    attribute xml:lang {xsd:language},
    attr_encodinganalog,
    attr_label}+,
  ## Definition: The source for the appellation, generally a published source.
  element sourceAppellation {
    xsd:string,
    attribute xml:lang {xsd:language},
    attr_encodinganalog,
    attr_label}*

## Definition: A wrapper for classification information.
## Definition: Concepts used to categorize an object / work by grouping it together with others on the basis of similar characteristics.
## How to record: The category belongs to a systematic scheme (classification) which groups objects of similar characteristics according to uniform aspects. This grouping / classification may be done according to material, form, shape, function, region of origin, cultural context, or historical or stylistic period. In addition to this systematic grouping it may also be done according to organizational divisions within a museum (e.g., according to the collection structure of a museum). If the object / work is assigned to multiple classifications, repeat this element.Preferably taken from a published controlled vocabulary.
classificationWrap = element classificationWrap {element classification {conceptComplexType, attr_type, attr_sortorder}*}

## Definition: Set for identifiers and terms of a concept.
## How to record: A concept describes a conceptual resource. Concepts are organized in concept schemes like thesauri, classification schemes, taxonomies, subject-heading systems, or any other type of structured controlled vocabulary. See also SKOS specifications at http://www.w3.org/2004/02/skos/
conceptComplexType =
  ## Definition: A unique identifier for the concept.
  ## How to record: Preferably taken from and linking to a published controlled vocabulary.
  element conceptID {identifierComplexType}*,
  ## Definition: A name for the referred concept, used for indexing.
  element term {termComplexType}*

## Definition: A wrapper for date specification.
## How to record: This may be a period or a set of years in the proleptic Gregorian calendar delimiting the span of time. If it is an exact date, possibly with time, repeat the same date (and time) in earliest and latest date. For ca. and other uncertain or approximate dates, estimate the greatest possible span for indexing. Uncertainty can be indicated in the type attributes of earliest and latest date, and can be characterized more precisely in the display element.
## Notes: Format of the data values in sub-elements earliestDate and LatestDate is according to ISO 8601. This includes date and time specification.
dateComplexType =
  ## Definition: A year or exact date that broadly delimits the beginning of an implied date span.
  ## How to record: General format: YYYY[-MM[-DD]]Format is according to ISO 8601. This may include date and time specification.
  element earliestDate {
    xsd:string,
    ## Definition: Specification of the date, e.g. if it is an exact or an estimated earliest date.
    ## How to record: Data values may be: exactDate, estimatedDate.
    attr_type,
    attr_source,
    attr_encodinganalog,
    attr_label}?,
  ## Definition: A year or exact date that broadly delimits the end of an implied date span.
  ## How to record: General format: YYYY[-MM[-DD]]Format is according to ISO 8601. This may include date and time specification.
  element latestDate {
    xsd:string,
    ## Definition: Specification of the date, e.g. if it is an exact or an estimated latest date.
    ## How to record: Data values may be: exactDate, estimatedDate.
    attr_type,
    attr_source,
    attr_encodinganalog,
    attr_label}?

## Definition: Wrapper for display and index elements for date information.
dateSetComplexType =
  ## Definition: Display element for a date specification, corresponding to the following date element.
  ## How to record: It is a concise description of the date, presented in a syntax suitable for display to the end-user and including any necessary indications of uncertainty, ambiguity, and nuance.Repeat this element only for language variants.
  element displayDate {textComplexType}*,
  ## Definition: Contains a date specification by providing a set of years as earliest and latest date delimiting the respective span of time.This may be a period or a set of years in the proleptic Gregorian calendar delimiting the span of time. If it is an exact date, possibly with time, repeat the same date (and time) in earliest and latest date.
  element date {dateComplexType}?

descriptiveMetadata =
  ## Definition: Holds the descriptive metadata of an object record.
  ## How to record: The attribute xml:lang is mandatory and specifies the language of the descriptive metadata.For fully multi-lingual resources, repeat this element once for each language represented.If only a few data fields (e.g. title) are provided in more than one language, the respective text elements may be repeated specifying the lang attribute on the text level.
  element descriptiveMetadata {descriptiveMetadataComplexType}

## Definition: Holds the descriptive metadata of an object record.
## How to record: The attribute xml:lang is mandatory and specifies the language of the descriptive metadata.For fully multi-lingual resources, repeat this element once for each language represented.If only a few data fields (e.g. title) are provided in more than one language, the respective text elements may be repeated specifying the lang attribute on the text level.
descriptiveMetadataComplexType =
  ## Definition: Wrapper for all classifying information about an object / work including the object's / work type and other classifications.
  objectClassificationWrap,
  objectIdentificationWrap,
  eventWrap?,
  objectRelationWrap?,
  attribute xml:lang {xsd:language}

## Definition: Wrapper for a description, including description identifer, descriptive note and sources.
## How to record: If there is more than one descriptive note, repeat this set.
descriptiveNoteComplexType =
  ## Definition: Identifier for an external resource describing the entity.
  ## Notes: The referenced resource may be any kind of document, preferably web-accessible.
  element descriptiveNoteID {identifierComplexType}*,
  ## Definition: Usually a relatively brief essay-like text that describes the entity.
  ## How to record: Repeat this element only for language variants.
  element descriptiveNoteValue {textComplexType}*,
  ## Definition: The source for the descriptive note, generally a published source.
  element sourceDescriptiveNote {textComplexType}*,
  attr_type,
  attr_sortorder

## Definition: A wrapper for the state and edition of the object / work.
displayStateEditionWrap = element displayStateEditionWrap {
    ## Definition: A description of the state of the object / work. Used primarily for prints and other multiples
    ## How to record: Formulated according to rules. For State, include state identification and known states, as appropriate.Repeat this element only for language variants.
    element displayState {textComplexType}*,
    ## Definition: A description of the edition of the object / work. Used primarily for prints and other multiples.
    ## How to record: Formulated according to rules. For Edition, include impression number, edition size, and edition number, or edition name, as appropriate.Repeat this element only for language variants.
    element displayEdition {textComplexType}*,
    ## Definition: The published source of the state or edition information.
    element sourceStateEdition {textComplexType}*}

## How to record: Elements with data values are accompanied by the attributes encodinganalog and label to indicate the format of the data source from which the data were migrated. The attribute encodinganalog refers to the internal field label of the source database. The source format is indicated in the attribute relatedencoding of the lidoWrap
attr_encodinganalog = attribute encodinganalog {xsd:string}?

## Definition: Complex type for one event associated with the object / work and its related information.
## How to record: If there is more than one event repeat the Event Set element.
eventComplexType =
  ## Definition: A unique identifier for the event.
  ## How to record: Preferably taken from and linking to a published resource describing the event.
  element eventID {identifierComplexType}*,
  ## Definition: The nature of the event associated with an object / work.
  ## How to record: Controlled. Recommended: Defined list of subclasses of CRM entity E5 Event.Basic event types as recorded in sub-element term include: Acquisition, Collecting, Commisioning, Creation, Designing, Destruction, Event (non-specified), Excavation, Exhibition, Finding, Loss, Modification, Move, Part addition, Part removal, Performance, Planning, Production, Provenance, Publication, Restoration, Transformation, Type assignment, Type creation, Use.
  element eventType {conceptComplexType},
  ## Definition: The role played within this event by the described entity.
  ## How to record: Preferably taken from a published controlled vocabulary.
  element roleInEvent {conceptComplexType}*,
  ## Definition: An appellation for the event, e.g. a title, identifying phrase, or name given to it.
  element eventName {appellationComplexType}*,
  ## Definition: Wrapper for display and index elements for an actor with role information (participating or being present in the event).
  ## How to record: For multiple actors repeat the element.
  element eventActor {actorInRoleSetComplexType, attr_sortorder}*,
  ## Definition: Name of a culture, cultural context, people, or also a nationality.
  ## How to record: Preferably using a controlled vocabuarly.
  element culture {conceptComplexType, attr_sortorder}*,
  ## Definition: Date specification of the event.
  element eventDate {dateSetComplexType}?,
  ## Definition: A period in which the event happened.
  ## How to record: Preferably taken from a published controlled vocabulary. Repeat this element only for indicating an earliest and latest period delimiting the event.
  ## Notes: Period concepts have delimiting character in time and space.
  element periodName {
    conceptComplexType,
    ## How to record: Data values may be: earliestPeriod, latestPeriod.
    attr_type,
    attr_sortorder}*,
  ## Definition: Place specification of the event.
  element eventPlace {
    placeSetComplexType,
    ## How to record: Data values may be: moveFrom, moveTo, alternative.
    attr_type,
    attr_sortorder}*,
  ## Definition: The method by which the event is carried out.
  ## How to record: Preferably taken from a published controlled vocabulary.
  ## Notes: Used e.g. for SPECTRUM Units of Information "field collection method", "acquisition method".
  element eventMethod {conceptComplexType, attr_sortorder}*,
  ## Definition: Indicates the substances or materials used within the event (e.g. the creation of an object / work), as well as any implements, production or manufacturing techniques, processes, or methods incorporated.
  ## How to record: Will be used most often within a production event, but also others such as excavation, restoration, etc.
  element eventMaterialsTech {materialsTechSetComplexType, attr_sortorder}*,
  ## Definition: References another object that was present at this same event.
  element thingPresent {objectSetComplexType, attr_sortorder}*,
  ## Definition: References an event which is linked in some way to this event, e.g. a field trip within which this object was collected.
  element relatedEventSet {relatedEventSetComplexType, attr_sortorder}*,
  ## Definition: Wrapper for a description of the event, including description identifer, descriptive note of the event and its sources.
  ## How to record: If there is more than one descriptive note, repeat this element.
  element eventDescriptionSet {descriptiveNoteComplexType}*

## Definition: Wrapper for display and index elements for events (e.g. creation, find, use etc.), in which the described object participated.
## How to record: For multiple events repeat the element.
eventSetComplexType =
  ## Definition: Display element for an event, corresponding to the following event element.
  ## How to record: Repeat this element only for language variants.
  element displayEvent {textComplexType}*,
  ## Definition: Identifying, descriptive and indexing information for the events in which the object participated or was present at, e.g. creation, excavation, collection, and use.
  ## Notes: All information related to the creation of an object: creator, cutlural context, creation date, creation place, the material and techniques used are recorded here, qualified by the event type “creation”.
  element event {eventComplexType}?

## Definition: Wrapper for event sets.
## Definition: Wrapper for the display and index elements for events (e.g. creation, find, and use), in which the object participated.
## How to record: For multiple events repeat the element.
eventWrap = element eventWrap {element eventSet {eventSetComplexType, attr_sortorder}*}

## Definition: Qualifies the type of the given place entity according to geographical structures.
## How to record: Data values can include: natural environment, landscape.
attr_geographicalEntity = attribute geographicalEntity {xsd:string}?

## Definition: Specifies the GML instantiation for georeferences.
## Notes: For documentation on GML refer to http://www.opengis.net/gml/.
gmlComplexType = Point*, LineString*, Polygon*

## How to record: There is no controlled list of identifier types. Suggested values include, but are not limited to the following: doi (Digital Objects Identifier)guid (Globally unique identifier)hdl (Handle)isbn (International Standard Book Number)ismn (International Standard Music Number)isrc (International Standard Recording Code)issn (International Standard Serials Number)localpermalinkpurl (Persistent Uniform Resource Locator)url (Uniform Resource Locator)urn (Uniform Resource Name)
identifierComplexType =
  xsd:string,
  attr_pref,
  attr_type,
  attr_source,
  attr_encodinganalog,
  attr_label

## Definition: A wrapper for information about inscriptions and other marks.
## Definition: A transcription or description of any distinguishing or identifying physical lettering, annotations, texts, markings, or labels that are affixed, applied, stamped, written, inscribed, or attached to the object / work, excluding any mark or text inherent in the materials of which it is made.
## Notes: Record watermarks in Display Materials/Techniques.
inscriptionsWrap = element inscriptionsWrap {element inscriptions {
  ## Definition: Transcription of the inscription.
  ## How to record: Repeat this element only for language variants.
  element inscriptionTranscription {textComplexType}*,
  ## Definition: Wrapper for a description of the inscription, including description identifer, descriptive note of the inscription and sources.
  element inscriptionDescription {descriptiveNoteComplexType}*,
  attr_type,
  attr_sortorder}*}

## How to record: Elements with data values are accompanied by the attributes encodinganalog and label, to indicate the format of the data source from which the data were migrated. The attribute label refers to the external label of a data field at the visible user interface. The source format is indicated in the attribute
attr_label = attribute label {xsd:string}?

## Definition: Reference information to a legal body.
legalBodyRefComplexType =
  ## Definition: Unambiguous identification of the institution or person referred to as legal body.
  element legalBodyID {identifierComplexType}*,
  ## Definition: Appellation of the institution or person.
  element legalBodyName {appellationComplexType}*,
  ## Definition: Weblink of the institution or person referred to as legal body.
  element legalBodyWeblink {webResourceComplexType}*

## Definition: Holds the metadata of an object / work.
## How to record: Record attribute relatedencoding for this element only if it is the root element. If the document holds more than one LIDO record, assign the attribute to the lidoWrap element.
## Notes: Use this element as root for the delivery of content through OAI-PMH.
lido = element lido {lidoComplexType}

## Definition: Holds the metadata of an object / work.
lidoComplexType =
  ## Definition: A unique lido record identification preferably composed of an identifier for the contributor and a record identification in the contributor's (local) system.
  element lidoRecID {identifierComplexType}+,
  ## Definition: A unique, published identification of the described object / work.
  ## How to record: May link to authority files maintained outside of the contributor's documentation system or may be an identifier for the object published by its repository, e.g. composed of an identifier for the repository and an inventory number of the object.Preferably a dereferenceable URL.
  element objectPublishedID {identifierComplexType}*,
  ## Definition: Indicates the category of which this item is an instance, preferably referring to CIDOC-CRM concept definitions.
  ## How to record: CIDOC-CRM concept definitions are  given at http://www.cidoc-crm.org/crm-concepts/. Data values in the sub-element term may often be: Man-Made Object (with conceptID "http://www.cidoc-crm.org/crm-concepts/E22"), Man-Made Feature (http://www.cidoc-crm.org/crm-concepts/E25), Collection (http://www.cidoc-crm.org/crm-concepts/E78).
  element category {conceptComplexType}?,
  element descriptiveMetadata {descriptiveMetadataComplexType}+,
  element administrativeMetadata {administrativeMetadataComplexType}+,
  attr_relatedencoding

## Definition: Holds one or multiple object records.
lidoWrap = element lidoWrap {
  element lido {lidoComplexType, attr_sortorder}+,
  attr_relatedencoding}

## Definition: Materials and techniques for retrieval.
## How to record: If multiple parts of the object / work require separate materials and techniques, or if media and support are being recorded separately, repeat the materialsTechSet element qualifying the extent sub-element.
materialsTechComplexType =
  ## Definition: A concept to index materials and/or technique.
  ## How to record: Preferably taken from a published controlled vocabulary.
  element termMaterialsTech {
    conceptComplexType,
    ## How to record: Example values: technique, material, implement, mark (e.g., watermark or other mark inherent in the material)
    attr_type,
    attr_sortorder}*,
  ## Definition: An explanation of the part of the object / work to which the corresponding materials or technique are applicable; included when necessary for clarity.
  element extentMaterialsTech {textComplexType}*,
  ## Definition: The source of the information about materials and technique, often used when citing a published source of watermarks.
  element sourceMaterialsTech {textComplexType}*

## Definition: Wrapper for display and index elements for materials and technique information.
## Notes: Indicates the substances or materials used, as well as any implements, production or manufacturing techniques, processes, or methods incorporated.
materialsTechSetComplexType =
  ## Definition: Display element for materials/technique, corresponding to the following materialsTech element.
  ## How to record: It is presented in a syntax suitable for display to the end-user and including any necessary indications of uncertainty, ambiguity, and nuance.Repeat this element only for language variants.
  element displayMaterialsTech {textComplexType}*,
  ## Definition: Materials and techniques data used for indexing.
  element materialsTech {materialsTechComplexType}?

## Definition: The dimensions or other measurements for one aspect of the item.
measurementsSetComplexType =
  ## Definition: Indicates what kind of measurement is taken.
  ## How to record: Data values for type: height, width, depth, length, diameter, circumference, stories, count, area, volume, running time, size.Repeat this element only for language variants.
  element measurementType {textComplexType}+,
  ## Definition: The unit of the measurement.
  ## How to record: E.g. cm, mm, m, g, kg, kb, Mb or Gb.Repeat this element only for language variants.
  element measurementUnit {textComplexType}+,
  ## Definition: The value of the measurement.
  ## How to record: Whole numbers or decimal fractions.
  element measurementValue {textComplexType}

## Definition: Wrapper for data classifying the object / work. Includes all classifying information about an object / work, such as: object / work type, style, genre, form, age, sex, and phase, or by how holding organization structures its collection (e.g. fine art, decorative art, prints and drawings, natural science, numismatics, or local history).
objectClassificationWrap = element objectClassificationWrap {
  ## Definition: A wrapper for Object/Work Types.
  objectWorkTypeWrap,
  ## Definition: A wrapper for any classification used to categorize an object / work by grouping it together with others on the basis of similar characteristics.
  classificationWrap?}

## Definition: Reference to an object / work.
objectComplexType =
  ## Definition: A URL-Reference to a description of the object / work in the worldwide web environment.
  element objectWebResource {webResourceComplexType}*,
  ## Definition: Unique identifier of the referenced object / work.
  element objectID {identifierComplexType}*,
  ## Definition: A descriptive identification of the object / work that will be meaningful to end-users, including some or all of the following information, as necessary for clarity and if known: title, object/work type, important actor, date and/or place information, potentially location of the object / work.
  ## How to record: The information should ideally be generated from fields/elements in the related record.
  element objectNote {textComplexType, attr_type}*

## Definition: A wrapper for Description/Descriptive Note information.
## Definition: Wrapper for a description of the object, including description identifer, descriptive note and sources.
## How to record: Includes usually a relatively brief essay-like text that describes the content and context of the object / work, including comments and an interpretation that may supplement, qualify, or explain the physical characteristics, subject, circumstances of creation or discovery, or other information about it.If there is more than one descriptive note, repeat this element.
## Notes: A reference to a text resource holding the description may be given in description identifier.
objectDescriptionWrap = element objectDescriptionWrap {element objectDescriptionSet {descriptiveNoteComplexType}*}

## Definition: A Wrapper for information that identifies the object.
objectIdentificationWrap = element objectIdentificationWrap {
  titleWrap,
  inscriptionsWrap?,
  repositoryWrap?,
  displayStateEditionWrap?,
  objectDescriptionWrap?,
  objectMeasurementsWrap?}

## Definition: The dimensions, size, shape, scale, format, or storage configuration of the object / work, including volume, weight, area or running time.
## How to record: Measurements are formatted to allow retrieval; preferably in metric units where applicable.
objectMeasurementsComplexType =
  ## Definition: The dimensions or other measurements for one aspect of an object / work (e.g., width).
  ## How to record: May be combined with extent, qualifier, and other sub-elements as necessary.The subelements "measurementUnit", "measurementValue" and
  ## "measurementType" are mandatory.
  element measurementsSet {measurementsSetComplexType, attr_sortorder}*,
  ## Definition: An explanation of the part of the object / work being measured included, when necessary, for clarity.
  ## How to record: Example values: overall, components, sheet, plate mark, chain lines, pattern repeat, lid, base, laid lines, folios, leaves, columns per page, lines per page, tessera, footprint, panel, interior, mat, window of mat, secondary support, frame, and mount
  element extentMeasurements {textComplexType, attr_sortorder}*,
  ## Definition: A word or phrase that elaborates on the nature of the measurements of the object / work when necessary, e.g. when the measurements are approximate.
  ## How to record: Example values: approximate, sight, maximum, larges, smallest, average, variable, assembled, before restoration, before restoration, at corners, rounded, framed, and with base.
  element qualifierMeasurements {textComplexType, attr_sortorder}*,
  ## Definition: The configuration of an object / work, including technical formats. Used as necessary.
  ## How to record: Example values: Vignette, VHS, IMAX, and DOS
  element formatMeasurements {textComplexType, attr_sortorder}*,
  ## Definition: The shape of an object / work. Used for unusual shapes (e.g., an oval painting).
  ## How to record: Example values: oval, round, square, rectangular, and irregular.
  element shapeMeasurements {textComplexType, attr_sortorder}*,
  ## Definition: An expression of the ratio between the size of the representation of something and that thing (e.g., the size of the drawn structure and the actual built work).
  ## How to record: Example values for scale: numeric (e.g., 1 inch = 1 foot), full-size, life-size, half size,monumental. and others as recommended in CCO and CDWA. Combine this tag with Measurement Sets for numeric scales. For measurementsSet type for Scale, use "base" for the left side of the equation, and "target" for the right side of the equation).
  ## Notes: Used for studies, record drawings, models, and other representations drawn or constructed to scale.
  element scaleMeasurements {textComplexType, attr_sortorder}*

## Definition: Wrapper for display and index elements for object measurements. If multiple parts of the object / work are measured, repeat the element
## How to record: Holds information about the dimensions, size, or scale of the object / work. It may also include the number of parts in a complex object / work, series, or collection.
objectMeasurementsSetComplexType =
  ## Definition: Display element for one object measurement, corresponding to the following objectMeasurement element.
  ## How to record: Repeat this element only for language variants.
  element displayObjectMeasurements {textComplexType}*,
  ## Definition: Structured measurement information about the dimensions, size, or scale of the object / work.
  ## Notes: It may also include the parts of a complex object / work, series, or collection.
  element objectMeasurements {objectMeasurementsComplexType}?

## Definition: A wrapper for the Measurements.
  ## Definition: Wrapper for display and index elements for object / work measurements.
  ## How to record: If multiple parts of the object / work are measured repeat this element.
objectMeasurementsWrap = element objectMeasurementsWrap {element objectMeasurementsSet {objectMeasurementsSetComplexType, attr_sortorder}*}

## Definition: Wrapper for infomation about related topics and works, collections, etc.
## Notes: This includes visual contents and all associated entities the object is about.
objectRelationWrap = element objectRelationWrap {subjectWrap?, relatedWorksWrap?}

## Definition: Wrapper for display and reference elements for an other object.
objectSetComplexType =
  ## Definition: A free-text description of the object, corresponding to the following object element
  ## How to record: Repeat this element only for language variants.
  element displayObject {textComplexType}*,
  ## Definition: Contains identifying information and links to another object.
  element object {objectComplexType}?

## Definition: A wrapper for Object/Work Types.
## Definition: The specific kind of object / work being described.
## How to record: Preferably taken from a published controlled vocabulary. For a collection, include repeating instances for identifying all of or the most important items in the collection.
objectWorkTypeWrap = element objectWorkTypeWrap {element objectWorkType {conceptComplexType, attr_type, attr_sortorder}+}

## Definition: Structured element for place information
placeComplexType =
  ## Definition: A unique identifier for the place.
  ## How to record: Preferably taken from a published authority file.
  element placeID {identifierComplexType}*,
  ## Definition: The name of the geographic place.
  ## How to record: If there are different names of the same place, e.g. today's and historical names, repeat this element.
  element namePlaceSet {appellationComplexType}*,
  ## Definition: Georeferences of the place using the GML specification.
  ## How to record: Repeat this element only for language variants.
  ## Notes: For further documentation on GML refer to http://www.opengis.net/gml/.
  element gml {
    gmlComplexType,
    attribute xml:lang {xsd:language}}*,
  ## Definition: Allows for indexing larger geographical entities.
  element partOfPlace {placeComplexType}*,
  ## Definition: A classification of the place, e.g. by geological complex, stratigraphic unit or habitat type.
  element placeClassification {conceptComplexType, attr_type}*,
  ## Definition: Data values can include: Gemeinde, Kreis, Bundesland, Staat, Herzogtum, city, county, country, civil parish
  attr_politicalEntity,
  ## Definition: Data values can include: Naturraum, Landschaft, natural environment, landscape
  attr_geographicalEntity

## Definition: Wrapper for display and index elements for place information.
placeSetComplexType =
  ## Definition: Display element for a place specification, corresponding to the following place element.
  ## How to record: Repeat this element only for language variants.
  element displayPlace {textComplexType}*,
  ## Definition: Contains structured identifying and indexing information for a geographical entity.
  element place {placeComplexType}?

## Definition: Qualifies the type of the given place entity according to political structures.
## How to record: Data values can include: city, county, country, civil parish.
attr_politicalEntity = attribute politicalEntity {xsd:string}?

## Definition: Qualifies the value as a preferred or alternative variant.
## How to record: Data values: preferred, alternate
attr_pref = attribute pref {xsd:string}?

## Definition: Wrapper for metadata information about this record.
## Notes: The metadata information contains the reference to the "lido"-metadata set but may also be constituted by reference to an "object data sheet" in an online database.
recordInfoSetComplexType =
  ## Definition: Unique ID of the metadata.
  ## How to record: Record Info ID has the same definition as Record ID but out of the context of original local system, such as a persistent identifier or an oai identifier (e.g., oai1:getty.edu:paintings/00001234 attribute type= oai).
  element recordInfoID {identifierComplexType}*,
  ## Definition: Link of the metadata, e.g., to the object data sheet (not the same as link of the object).
  element recordInfoLink {webResourceComplexType}*,
  ## Definition: Creation date or date modified of the metadata record. Format will vary depending upon implementation.
  element recordMetadataDate {textComplexType, attr_type, attr_source}*,
  attr_type

## Definition: A wrapper for information about the record that contains the cataloguing information.
## Notes: Note that this section does not refer to any object or resource information, but only to the source record.
recordWrap = element recordWrap {
  ## Definition: A unique record identification in the contributor's (local) system.
  element recordID {identifierComplexType}+,
  ## Definition: Term establishing whether the record represents an individual item or a collection, series, or group of works.
  ## How to record: Mandatory. Example values: item, collection, series, group, volume, fonds.Preferably taken from a published controlled value list.
  element recordType {conceptComplexType},
  ## Definition: The source of information in this record, generally the repository or other institution.
  element recordSource {legalBodyRefComplexType, attr_type, attr_sortorder}+,
  ## Definition: Information about rights regarding the content provided in this LIDO record.
  element recordRights {rightsComplexType, attr_sortorder}*,
  ## Definition: Wrapper for metadata information about this record.
  element recordInfoSet {recordInfoSetComplexType}*}

## Definition: Indicates the format of the data source from which the data were migrated. For each sub-element with data values then the related source data fields can be referenced through the attributes encodinganalog and label.
attr_relatedencoding = attribute relatedencoding {xsd:string}?

## Definition: A wrapper for one event related to the described event.
relatedEventSetComplexType =
  ## Definition: Display and index elements for the event related to the event being recorded.
  element relatedEvent {eventSetComplexType}?,
  ## Definition: A term describing the nature of the relationship between the described event and the related event.
  ## How to record: Example values: part of, influence of, related to. Indicate a term characterizing the relationship from the perspective of the currently described event towards the related event. Preferably taken from a published controlled vocabulary.
  ## Notes: For implementation of the data, note that relationships are conceptually reciprocal, but the Relationship Type is often different on either side of the relationship.
  element relatedEventRelType {conceptComplexType}?

## Definition: A wrapper for one object / work, group, collection, or series that is directly related to the object / work at hand, including direct relationships between the two, between an object / work and its components, and between an item and the larger group, collection, or series.
## How to record: If there is more than one object / work referred to then the set should be repeated.Preferably taken from a published controlled vocabulary.
## Notes: Objects referred to may be corresponding object / works or those created to be shown together with the object / work in question, but also e.g., literature (bibliographic objects) in which the object / work is documented or mentioned forms a "relatedWorkSet".
relatedWorkSetComplexType =
  ## Definition: Wrapper for the display and reference elements of a related object / work.
  element relatedWork {objectSetComplexType}?,
  ## Definition: A term describing the nature of the relationship between the object / work at hand and the related entity.
  ## How to record: Example values: part of, larger context for, model of, model for, study of, study forrendering of, copy of, related to.Indicate a term characterizing the relationship from the perspective of the currently described object / work towards the related object / work.
  ## Notes: For implementation of the data, note that relationships are conceptually reciprocal, but the Relationship Type is often different on either side of the relationship (e.g., one work is part of a second work, but from the point of view of the second record, the first work is the larger context for the second work). Whether or not relationships are physically reciprocal as implemented in systems is a local decision.
  element relatedWorkRelType {conceptComplexType}?

## Definition: A wrapper for Related Works information.
## Definition: A wrapper for a object / work, group, collection, or series that is directly related to the object / work being recorded.
relatedWorksWrap = element relatedWorksWrap {element relatedWorkSet {relatedWorkSetComplexType, attr_sortorder}*}

## Definition: Wrapper for designation and identification of the institution of custody and, possibly, indication of the exact location of the object.
## How to record: If there are several designations known, e.g., a current one and  former ones (see: type attribute), repeat the element.Data values of the type attribute: current, former.
repositorySetComplexType =
  ## Definition: Unambiguous identification, designation and weblink of the institution of custody.
  element repositoryName {legalBodyRefComplexType}?,
  ## Definition: An unambiguous numeric or alphanumeric identification number, assigned to the object by the institution of custody.
  element workID {
    xsd:string,
    attr_type,
    attr_sortorder,
    attr_encodinganalog,
    attr_label}*,
  ## Definition: Location of the object, especially relevant for architecture and archaeological sites.
  element repositoryLocation {placeComplexType}?,
  ## Definition: Qualifies the repository as a former or the current repository.
  ## How to record: Data values: current, former
  attr_type,
  attr_sortorder

## Definition: Wrapper for Repository/ Location information.
## Definition: Wrapper for designation and identification of the institution of custody, and possibly an indication of the exact location of the object.
repositoryWrap = element repositoryWrap {element repositorySet {repositorySetComplexType}*}

## Definition: A wrapper for sets of resource information.
## How to record: If there are multiple, distinct resources associated with the object / work, repeat the Resource Set element. For variants representing the same resource repeat the Resource Representation sub-element.
resourceSetComplexType =
  ## Definition: The unique numeric or alphanumeric identification of the original (digital or analogue) resource.
  element resourceID {identifierComplexType}?,
  ## Definition: A digital representation of a resource for online presentation.
  ## How to record: Repeat this element set for variants representing the same resource, e.g. different sizes of the same image, or a thumbnail representing an audio or video file and the digital audio or video file itself.
  element resourceRepresentation {
    ## Definition: A url reference in the World Wide Web environment.
    element linkResource {
      webResourceComplexType,
      ## Definition: Codec information about the digital resource.
      attribute codecResource {xsd:string}?},
    ## Definition: Any technical measurement information needed for online presentation of the resource.
    ## How to record: For images provide width and height of the digital image, for audio or video resources provide duration, bit rate, frame size, and if necessary TC-IN, TC-OUT.
    element resourceMeasurementsSet {measurementsSetComplexType}*,
    attr_type}*,
  ## Definition: The generic identification of the medium of the image or other resource.
  ## How to record: Preferably using a controlled published value list. Example values: digital image, photograph, slide, videotape, X-ray photograph, negative.
  element resourceType {conceptComplexType}?,
  ## Definition: The relationship of the resource to the object / work being described.
  ## How to record: Example values: conservation image, documentary image, contextual image, historical image, reconstruction, and installation image
  element resourceRelType {conceptComplexType}*,
  ## Definition: The specific vantage point or perspective of the view.
  element resourcePerspective {conceptComplexType}*,
  ## Definition: A description of the spatial, chronological, or contextual aspects of the object / work as captured in this particular resource.
  element resourceDescription {textComplexType, attr_type, attr_sortorder}*,
  ## Definition: A date or range of dates associated with the creation or production of the original resource, e.g. the image or recording.
  ## Notes: This is not necessarily the same as the date of production of the digital resource (e.g. a digitization of a negative is usually made years after the image was captured on film). Format will vary depending upon implementation.
  element resourceDateTaken {dateSetComplexType}?,
  ## Definition: Identification of the agency, individual, or repository from which the image or other resource was obtained.
  ## How to record: Include this sub-element when the source of the image/resource differs from the source named in Record Source.
  element resourceSource {legalBodyRefComplexType, attr_type, attr_sortorder}*,
  ## Definition: Information about rights regarding the image or other resource.
  ## How to record: Use this sub-element if the holder of the reproduction rights for the image/resource differs from the holder of rights for the work. See also Rights Work above. (E.g., the work rights are " National Museum of African Art, Smithsonian Instituition (Washing DC), " but the image rights are "Photo Frank Khoury.")
  element rightsResource {rightsComplexType, attr_sortorder}*

## Definition: A wrapper for resources that are surrogates for an object / work, including digital images, videos or audio files that represent it in an online service.
## Definition: Contains sub-elements for a structured resource description.
## Notes: Provides identification of a surrogate of the object / work including digital images, slides, transparencies, photographs, audio, video and moving images, but excluding items that are considered object / works in their own right. For such as drawings, prints, paintings, or photographs considered art, and other works that themselves contain representations of other works, use Related Works and/or Subjects.
resourceWrap = element resourceWrap {element resourceSet {resourceSetComplexType, attr_sortorder}*}

## Definition: Information about rights management; may include copyright and other intellectual property statements.
rightsComplexType =
  ## Definition: The specific type of right being recorded.
  ## How to record: For example: copyright, publication right, data protection right, trademark.Preferably taken from a published controlled value list.
  element rightsType {conceptComplexType}*,
  ## Definition: The date on which a right is or was current.
  element rightsDate {dateComplexType}?,
  ## Definition: The holder of the right.
  element rightsHolder {legalBodyRefComplexType, attr_sortorder}*,
  ## Definition: Acknowledgement of the rights associated with the physical and/or digital object as requested.
  ## How to record: Repeat this element only for language variants.
  element creditLine {textComplexType}*

## Definition: Wrapper for rights information about the object / work described.
## Notes: Rights information for the record and for resources is recorded in the respective rights elements recordRights and rightsResource.
## Definition: Information about rights management; may include copyright and other intellectual property statements about the object / work.
rightsWorkWrap = element rightsWorkWrap {element rightsWorkSet {rightsComplexType, attr_sortorder}*}

## Definition: Assigns a priority order for online presentation of the element.
## How to record: Has to be a positive integer, with descending priority from 1 to x.
attr_sortorder = attribute sortorder {xsd:integer}?

## Definition: Source of the information given in the holding element.
attr_source = attribute source {xsd:string}?

## Definition: A wrapper for one set of Subject Indexing information.
## How to record: If an object / work has multiple parts or otherwise has separate, multiple subjects, repeat the superordinate Subject Set element and use Extent Subject. The superordinate Subject Set element may also be repeated to distinguish between subjects that reflect what an object / work is *of* (description and identification) from what it is *about* (interpretation).
## Notes: While not required, it is highly recommended to include subject information, even for non-objective art, for which the function or purpose of the object / work may be included as subject.
subjectComplexType =
  ## Definition: When there are multiple subjects, a term indicating the part of the object / work to which these subject terms apply.
  ## How to record: Example values: recto, verso, side A, side B, main panel, and predella.Repeat this element only for language variants.
  element extentSubject {textComplexType}*,
  ## Definition: Provides references to concepts related to the subject of the described object / work.
  ## How to record: May include iconography, themes from literature, or generic terms describing the material world, or topics (e.g., concepts, themes, or issues). However, references to people, dates, events, places, objects are indicated in the the respective sub-elements Subject Actor Set, Subject Date Set, Subject Event Set, Subject Place Set, and Subject Object Set.Preferably taken from a published controlled vocabulary.
  element subjectConcept {conceptComplexType, attr_sortorder}*,
  ## Definition: A person, group, or institution depicted in or by an object / work, or what it is about, provided as display and index elements.
  element subjectActor {actorSetComplexType, attr_sortorder}*,
  ## Definition: A time specification depicted in or by an object / work, or what it is about, provided as display and index elements.
  element subjectDate {dateSetComplexType, attr_sortorder}*,
  ## Definition: An event depicted in or by an object / work, or what it is about, provided as display and index elements.
  element subjectEvent {eventSetComplexType, attr_sortorder}*,
  ## Definition: A place depicted in or by an object / work, or what it is about, provided as display and index elements.
  element subjectPlace {placeSetComplexType, attr_sortorder}*,
  ## Definition: An object - e.g. a building or a work of art depicted in or by an object / work, or what it is about, provided as display and index elements.
  element subjectObject {objectSetComplexType, attr_sortorder}*,
  attr_type

## Definition: Wrapper for display and index elements for one set of subject information.
## How to record: If an object / work has multiple parts or otherwise has separate, multiple subjects, repeat this element and use Extent Subject in the Subject element. This element may also be repeated to distinguish between subjects that reflect what an object / work is *of* (description and identification) from what it is *about* (interpretation).
subjectSetComplexType =
  ## Definition: A free-text description of the subject matter represented by/in the object / work, corresponding to the following subject element
  ## How to record: Repeat this element only for language variants.
  element displaySubject {textComplexType}*,
  ## Definition: Contains sub-elements for a structured subject description. These identify, describe, and/or interpret what is depicted in and by an object / work or what it is about.
  element subject {subjectComplexType}?

## Definition: A wrapper for Subject information. This may be the visual content (e.g. the iconography of a painting) or what the object is about.
## Definition: Wrapper for display and index elements for one set of subject information.
## How to record: If an object / work has multiple parts or otherwise has separate, multiple subjects, repeat this element and use Extent Subject in the Subject element. This element may also be repeated to distinguish between subjects that reflect what an object / work is *of* (description and identification) from what it is *about* (interpretation).
subjectWrap = element subjectWrap {
  element subjectSet {subjectSetComplexType, attr_sortorder}*}

## Definition: A name for a concept / term, usually from a controlled vocabulary.
termComplexType =
  xsd:string,
  attr_pref,
  attr_addedSearchTerm,
  attribute xml:lang {xsd:language},
  attr_encodinganalog,
  attr_label

## Definition: Simple text element with encodinganalog and label attribute
textComplexType =
  xsd:string,
  attribute xml:lang {xsd:language},
  attr_encodinganalog,
  attr_label

## Definition: Wrapper for Object name / Title information.
## Definition: Wrapper for one title or object name and its source information.
## How to record: Mandatory. If there is no specific title, provide an object name in the appellation value. If there is more than one title, repeat the Title Set element.
## Notes: For objects from natural, technical, cultural history e.g. the object name given here and the object type, recorded in the object / work type element are often identical.
titleWrap = element titleWrap {element titleSet {appellationComplexType, attr_type, attr_sortorder}+}

## Definition: Qualifies the type of information given in the holding element.
## How to record: Will generally have to be populated with a given value list.
attr_type = attribute type {xsd:string}?

## Definition: A uri/url reference to a web resource that describes / represents the item, e.g. a metadata record.
## Notes: It differs from an identifier for the item itself.
webResourceComplexType =
  xsd:string,
  attr_pref,
  ## Definition: Indicates the internet media type, e.g. the file format of the given web resource.
  ## How to record: Data values should be taken from the official IANA list (see http://www.iana.org/assignments/media-types/). Includes: text/html, text/xml, image/jpeg, audio/mpeg, video/mpeg, application/pdf.
  attribute formatResource {xsd:string}?,
  attribute xml:lang {xsd:language},
  attr_encodinganalog,
  attr_label
