rnc/spectrum-nocomment.rnc

namespace a = "http://relaxng.org/ns/compatibility/annotations/1.0"
namespace doc =
  "http://collectionstrust.org.uk/spectrumXML/Documentation"
namespace rng = "http://relaxng.org/ns/structure/1.0"
default namespace spectrum =
  "http://collectionstrust.org.uk/spectrumXML/Schema-v4.0"
namespace xsd = "http://www.w3.org/2001/XMLSchema"

##    Collections Trust XML Schema for SPECTRUM version 4.0.4 (26 June 2012)

start |= starting_Interchange
starting_Interchange = element Interchange {Interchange}

Address =
  element EMail {xsd:string}?,
  element Fax {xsd:string}?,
  element Place {Place}*,
  element Postcode {xsd:string}?,
  element Telephone {xsd:string}?,
  element Text {xsd:string}?,
  element Type {xsd:string}?

Date =
  element Association {xsd:string}?,
  element Earliest {
    element Certainty {xsd:string}?,
    element Date {xsd:string},
    element Qualifier {xsd:string}?}?,
  element Latest {
    element Certainty {xsd:string}?,
    element Date {xsd:string},
    element Qualifier {xsd:string}?}?,
  element Period {xsd:string}?,
  element Text {xsd:string}?

ExactDate =
  element Day {xsd:integer}?,
  element Month {xsd:integer}?,
  element Year {xsd:integer}?

Interchange =
  element Record {
    element Data {
      element Address {Address}
    | element Object {Object}
    | element Organisation {Organisation}
    | element People {People}
    | element Person {Person}
    | element Place {Place}}?}*

Metadata =
  element AmendmentHistory {
    element Change {
      element Authoriser {Person}?,
      element SchemeUsed {xsd:string}?,
      element Source {empty}*,
      element SourceDate {Date}?,
      element UnitAdded {xsd:string}?}+}?,
  element Date {ExactDate}?,
  element Progress {xsd:string}?,
  element Recorder {Person}?,
  element Type {xsd:string}?,
  element Usage {xsd:string}*

Object =
  element AccessCategory {
    element Date {ExactDate}?,
    element Name {xsd:string},
    element Note {xsd:string}?}?,
  element Acquisition {
    element AccessionDate {ExactDate}?,
    element Authorisation {
      element Authoriser {xsd:string},
      element Date {ExactDate}?}*,
    element Date {Date}?,
    element Funding {
      element Provisos {xsd:string}?,
      element Source {xsd:string}?,
      element Value {xsd:string}?}*,
    element GroupPrice {xsd:string}?,
    element Method {xsd:string}?,
    element Note {xsd:string}*,
    element OfferedPrice {xsd:string}*,
    element OfferPrice {xsd:string}*,
    element Owner {Person}*,
    element Price {
      element LocalValue {xsd:string},
      element OriginalCurrency {xsd:string}?,
      element OriginalValue {xsd:string}?}?,
    element Provisos {xsd:string}*,
    element Reason {xsd:string}*,
    element Reference {xsd:string}*,
    element Source {empty}*,
    element TitleTransfer {
      element Number {xsd:string}}?}?,
  element Associations {
    element GeneralAssociations {
      element Concept {xsd:string}?,
      element CulturalAffinity {xsd:string}?,
      element HistoryNote {xsd:string}?}*,
    element SpecificAssociations {
      element Association {
        element AssociatedActivity {
          element Activity {xsd:string}?,
          element AssociatedActivityNote {xsd:string}?}*,
        element AssociatedObject {
          element AssociatedObject {Object}?,
          element AssociatedObjectType {xsd:string}?}*,
        element AssociationNote {xsd:string}?,
        element Date {Date}?,
        element Organisation {Organisation}?,
        element People {People}?,
        element Person {Person}?,
        element Place {Place}?,
        element RelatedEvent {
          element AssociatedEventName {
            element Name {xsd:string}?,
            element Type {xsd:string}?},
          element AssociatedEventPeople {People}?,
          element AssociatedEventPerson {Person}?,
          element AssociatedEventPlace {Place}?,
          element Date {Date}?,
          element Organisation {Organisation}?}?,
        element RelatedObject {
          element Number {xsd:string},
          element RelatedObjectAssociation {xsd:string}?,
          element RelatedObjectNote {xsd:string}?}?},
      element AssociationType {xsd:string}?}*}*,
  element Audit {
    element Auditor {empty},
    element Category {xsd:string}?,
    element Date {ExactDate}?,
    element Method {xsd:string}?,
    element Note {xsd:string}?,
    element ObjectAuditType {xsd:string}?,
    element Reference {xsd:string}?,
    element Results {xsd:string}?,
    element Type {xsd:string}?}*,
  element Condition {
    element Check {
      element Assessor {empty}?,
      element ConditionCheckAssessmentReason {xsd:string}?,
      element ConditionDate {ExactDate}?,
      element Date {ExactDate}?,
      element Method {xsd:string}?,
      element NextDate {ExactDate}?,
      element Note {xsd:string}*,
      element Reference {xsd:string}?,
      element TechnicalAttributes {
        element TechnicalAssesment {xsd:string}*,
        element TechnicalAssessmentDate {ExactDate}?}*}*,
    element Completeness {
      element CompletenessDate {ExactDate}?,
      element Keyword {xsd:string},
      element Note {xsd:string}*}?,
    element DamageLoss {
      element Date {Date}?,
      element Method {xsd:string}?,
      element Note {xsd:string}*,
      element Reference {xsd:string}?,
      element Reporter {Person}*}*,
    element Keyword {xsd:string}?,
    element Note {xsd:string}*}?,
  element Conservation {
    element Material {xsd:string}*,
    element Method {xsd:string}*,
    element Note {xsd:string}*,
    element RecallDate {ExactDate}*,
    element Reference {xsd:string}?,
    element Treatment {
      element Conservator {Person}*,
      element Date {ExactDate}?,
      element Description {xsd:string}*,
      element Priority {xsd:string}?}*}*,
  element Deaccession {
    element Date {ExactDate}?,
    element Disposal {
      element Date {ExactDate}?,
      element Method {xsd:string}?,
      element NewNumber {xsd:string}?,
      element Note {xsd:string}*,
      element Price {empty}?,
      element ProposedRecipient {xsd:string}*,
      element Provisos {xsd:string}*,
      element Reason {xsd:string}*,
      element Recipient {empty}?,
      element Reference {xsd:string}?}?,
    element GroupPrice {xsd:string}?}?,
  element Description {
    element Age {
      element Phase {xsd:string}?,
      element Qualifier {xsd:string}?,
      element Unit {xsd:string}?,
      element Value {xsd:integer}?}*,
    element Colour {xsd:string}*,
    element Component {
      element Information {xsd:string}?,
      element Name {xsd:string}?}*,
    element Content {
      element Activity {xsd:string}*,
      element Concept {xsd:string}*,
      element ContentLanguage {xsd:string}?,
      element ContentOther {
        element ContentOther {xsd:string}?,
        element ContentOtherType {xsd:string}?}*,
      element ContentScript {xsd:string}?,
      element Date {Date}*,
      element Description {xsd:string}*,
      element Event {
        element Name {xsd:string}?,
        element Type {xsd:string}?}*,
      element Keyword {xsd:string}*,
      element Name {xsd:string}?,
      element Organisation {Organisation}*,
      element People {People}*,
      element Person {Person}*,
      element Place {Place}*,
      element Position {xsd:string}?}*,
    element Dimension {
      element Date {ExactDate}?,
      element Dimension {xsd:string},
      element Part {xsd:string}?,
      element Qualifier {xsd:string}?,
      element Unit {xsd:string},
      element Value {xsd:string}}*,
    element Form {xsd:string}?,
    element Gender {xsd:string}*,
    element Inscription {
      element Content {xsd:string}?,
      element Date {Date}?,
      element Description {xsd:string}*,
      element Inscriber {empty}*,
      element Interpretation {xsd:string}*,
      element Language {xsd:string}*,
      element Method {xsd:string}*,
      element Position {xsd:string}?,
      element Script {xsd:string}*,
      element Translation {xsd:string}*,
      element Transliteration {xsd:string}*,
      element Type {xsd:string}?}*,
    element Material {
      element Material {xsd:string}?,
      element MaterialComponent {
        element Keyword {xsd:string}?,
        element Note {xsd:string}*}?,
      element Name {xsd:string}*,
      element Source {Place}?}*,
    element PhysicalDescription {xsd:string}*,
    element TechnicalAttributes {
      element Attribute {xsd:string}?,
      element Unit {xsd:string}?,
      element Value {xsd:string}?}*,
    element Technique {
      element Technique {xsd:string}?,
      element Type {xsd:string}?}*}*,
  element Despatch {
    element DeliveryDate {ExactDate}?}*,
  element Entry {
    element Date {ExactDate}?,
    element Depositor {empty}?,
    element DepositorRequirements {xsd:string}*,
    element EntryNumber {xsd:string}?,
    element EnvironmentalCondition {
      element Date {ExactDate}?,
      element Note {xsd:string}*}*,
    element FieldCollection {
      element Collector {empty}*,
      element Context {
        element Code {xsd:string}?,
        element Date {Date}?,
        element Level {xsd:string}?}*,
      element Date {Date}?,
      element FieldCollection {
        element Name {xsd:string}?,
        element Reference {xsd:string}?}?,
      element GeologicalComplex {xsd:string}*,
      element Keyword {
        element Keyword {xsd:string}?,
        element Note {xsd:string}*}*,
      element Method {xsd:string}?,
      element Note {xsd:string}*,
      element Number {xsd:string}?,
      element Place {Place}*,
      element Position {xsd:string}?,
      element Source {empty}?,
      element StratigraphicUnit {
        element Name {xsd:string}?,
        element Note {xsd:string}*,
        element Type {xsd:string}?}?}?,
    element Method {xsd:string}?,
    element Note {xsd:string}*,
    element ObjectRequirements {xsd:string}*,
    element PackingNote {xsd:string}*,
    element Reason {xsd:string}?}?,
  element Exhibition {
    element Begindate {Date}?,
    element CatalogueNumber {xsd:string}?,
    element Enddate {Date}?,
    element Organiser {empty}*,
    element Reference {xsd:string}?,
    element Title {xsd:string}?}*,
  element Exit {
    element ExitDate {Date}?,
    element ExitDestination {Person}?,
    element ExitMethod {xsd:string}?,
    element ExitNote {xsd:string}?,
    element ExitReferenceNumber {xsd:string}?,
    element OrgansiationCourier {People}?}?,
  element Identification {
    element AdministrationName {xsd:string}?,
    element BriefDescription {xsd:string}?,
    element Comments {xsd:string}*,
    element CopyNumber {xsd:string}?,
    element DistinguishingFeatures {xsd:string}*,
    element EditionNumber {xsd:string}?,
    element NumberOfObjects {xsd:string}?,
    element ObjectName {
      element Currency {xsd:string}?,
      element Language {xsd:string}?,
      element Level {xsd:string}?,
      element Name {xsd:string}?,
      element Note {xsd:string}*,
      element System {xsd:string}?,
      element Type {xsd:string}?}*,
    element ObjectNumber {xsd:string},
    element ObjectTitle {
      element Title {xsd:string}?,
      element Translation {xsd:string}*,
      element Type {xsd:string}?}*,
    element OtherNumber {
      element Type {xsd:string}?,
      element Value {xsd:string}?}*,
    element Standing {xsd:string}?},
  element Indemnity {
    element Confirmation {ExactDate}?,
    element MinimumLiabilitySum {xsd:string}?,
    element Note {xsd:string}*,
    element Reference {xsd:string}?,
    element Renewal {ExactDate}?}?,
  element Insurance {
    element Insurer {empty}?,
    element Note {xsd:string}*,
    element PolicyNumber {xsd:string}?,
    element Reference {xsd:string}?,
    element RenewalDate {ExactDate}?}*,
  element Loan {
    element In {
      element Conditions {xsd:string}*,
      element Contact {Person}*,
      element Lender {empty},
      element LenderContact {Person}*,
      element Note {xsd:string}*,
      element Reference {xsd:string}?}*,
    element Loan {
      element Date {ExactDate}?,
      element Keyword {xsd:string}?}?,
    element Out {
      element Borrower {empty},
      element Conditions {xsd:string}*,
      element Contact {Person}*,
      element LenderAuthorisation {
        element Date {ExactDate}?,
        element Name {xsd:string}}*,
      element Note {xsd:string}*,
      element Reference {xsd:string}?,
      element Status {
        element Date {ExactDate}?,
        element Keyword {xsd:string},
        element ReviewDate {ExactDate}?}?,
      element Venue {xsd:string}?,
      element VenueAuthorisation {
        element Date {ExactDate}?,
        element Name {xsd:string}}*}*}?,
  element ObjectLocation {
    element AccessNote {xsd:string}*,
    element Address {Address}?,
    element Condition {
      element Date {ExactDate}?}?,
    element Current {
      element Fitness {xsd:string}?,
      element Name {xsd:string},
      element Note {xsd:string}*}?,
    element Date {ExactDate}?,
    element LocationIdentifier {xsd:string}?,
    element LocationType {xsd:string}?,
    element Movement {
      element Contact {Person}*,
      element Method {xsd:string}?,
      element Note {xsd:string}*,
      element PlannedRemovalDate {ExactDate}?,
      element Reference {xsd:string}?,
      element RemovalDate {ExactDate}?,
      element ReturnDate {ExactDate}?,
      element Shipment {
        element Contact {Person}*,
        element Note {xsd:string}*,
        element PackingRecommendations {xsd:string}*,
        element Shipper {empty}?}*}*,
    element Normal {xsd:string}?,
    element Note {xsd:string}*,
    element SecurityNote {xsd:string}*}?,
  element ObjectView {
    element ViewersContributionRole {xsd:string}?,
    element ViewersPersonalExperience {xsd:string}?,
    element ViewersPersonalResponse {xsd:string}?,
    element ViewersReference {xsd:string}?,
    element ViewersRole {xsd:string}?}?,
  element Ownership {
    element Access {xsd:string}?,
    element Category {xsd:string}?,
    element CurrentOwnership {
      element AcquisitionMethod {xsd:string}?,
      element AcquisitionNote {xsd:string}*,
      element AcquisitionPrice {xsd:string}?,
      element CurrentOwner {empty}?,
      element Dates {Date}?,
      element Place {Place}?}*,
    element PreviousOwnership {
      element AcquisitionMethod {xsd:string}?,
      element AcquisitionNote {xsd:string}*,
      element AcquisitionPrice {xsd:string}?,
      element OwnersContributionNote {xsd:string}?,
      element OwnersPersonalExperience {xsd:string}?,
      element OwnersPersonalResponse {xsd:string}?,
      element OwnersReference {xsd:string}?,
      element Place {Place}?,
      element PreviousOwner {empty}*}*}?,
  element Procedure {
    element Authorisation {
      element Authoriser {Person},
      element Date {ExactDate}?}*,
    element Cost {
      element Note {xsd:string}*,
      element Value {xsd:string}?}*,
    element Manager {empty}?,
    element Note {xsd:string}*,
    element ProcedureBeginDate {ExactDate}?,
    element ProcedureEndDate {ExactDate}?,
    element Process {
      element Date {ExactDate}?,
      element Method {xsd:string}?,
      element Note {xsd:string}*,
      element Processor {empty}*,
      element Reference {xsd:string}?}+,
    element Reason {xsd:string}*,
    element Request {
      element Date {ExactDate}?,
      element Deadline {ExactDate}?,
      element Details {xsd:string}?,
      element Requester {empty}*}*,
    element Scheduling {
      element Begin {ExactDate},
      element End {ExactDate}}?,
    element Title {xsd:string}?}*,
  element Production {
    element Date {Date}*,
    element Note {xsd:string}*,
    element Organisation {Organisation}*,
    element People {People}*,
    element Person {Person}*,
    element Place {Place}*,
    element Reason {xsd:string}*,
    element Style {xsd:string}*}*,
  element Reference {
    element Association {xsd:string}?,
    element Details {xsd:string}?,
    element Note {xsd:string}*,
    element Number {xsd:string}?,
    element ReferenceAuthorEditor {Person}?,
    element ReferenceDetails {xsd:string}?,
    element ReferencePublicationDate {ExactDate}?,
    element ReferencePublicationPlace {Place}?,
    element ReferencePublisher {Person}?,
    element ReferenceTitle {xsd:string}?,
    element Type {xsd:string}?}?,
  element Rights {
    element Confidentiality {xsd:string}?,
    element CreditLine {xsd:string}?,
    element Licence {
      element Held {
        element Begin {ExactDate}?,
        element Details {xsd:string}?,
        element End {ExactDate}?,
        element Number {xsd:string}?,
        element Renewal {ExactDate}?}?,
      element Requirements {xsd:string}?}*,
    element RightBeginDate {ExactDate}?,
    element RightEndDate {ExactDate}?,
    element RightHolder {Person}?,
    element RightNote {xsd:string}?,
    element RightReferenceNumber {xsd:string}?,
    element RightsInBeginDate {ExactDate}?,
    element RightsInConsentStatus {xsd:string}?,
    element RightsInConsentStatusDate {ExactDate}?,
    element RightsInEndDate {ExactDate}?,
    element RightsInHolder {Person}?,
    element RightsInNote {xsd:string}?,
    element RightsInReferenceNumber {xsd:string}?,
    element RightsInType {xsd:string}?,
    element RightsOutAuthorisationDate {ExactDate}?,
    element RightsOutAuthoriser {Person}?,
    element RightsOutBeginDate {ExactDate}?,
    element RightsOutConsentStatus {xsd:string}?,
    element RightsOutConsentStatusDate {ExactDate}?,
    element RightsOutEndDate {ExactDate}?,
    element RightsOutNote {xsd:string}?,
    element RightsOutReferenceNumber {xsd:string}?,
    element RightsOutRequester {Person}?,
    element RightsOutType {xsd:string}?,
    element RightType {xsd:string}?}*,
  element RiskManagement {
    element Hazard {
      element Date {ExactDate}?,
      element Keyword {xsd:string},
      element Note {xsd:string}*}*,
    element SalvagePriority {
      element Code {xsd:string},
      element Date {ExactDate}?}?}?,
  element Type {xsd:string}?,
  element Usage {
    element DisplayStatus {
      element Date {ExactDate}?,
      element Keyword {xsd:string}?}?,
    element Keyword {xsd:string}?,
    element Label {
      element Date {ExactDate}?,
      element LabelAudience {xsd:string}?,
      element LabelAuthor {Person}?,
      element LabelLanguage {xsd:string}?,
      element LabelNote {xsd:string}?,
      element LabelReason {xsd:string}?,
      element Text {xsd:string}}*,
    element Note {xsd:string}*,
    element Recommendations {
      element Display {xsd:string}*,
      element Environmental {xsd:string}*,
      element Handling {xsd:string}?,
      element Security {xsd:string}*,
      element StorageRequirements {xsd:string}*}?,
    element Research {
      element Date {ExactDate}*,
      element Method {xsd:string}?,
      element Note {xsd:string}*,
      element Provisos {xsd:string}*,
      element Reference {xsd:string}?,
      element Researcher {empty}*,
      element Result {xsd:string}?}*}*,
  element Valuation {
    element Date {ExactDate}?,
    element Note {xsd:string}*,
    element Reference {xsd:string}?,
    element RenewalDate {ExactDate}?,
    element Type {xsd:string}?,
    element Value {xsd:string},
    element Valuer {empty}*}*

Organisation =
  element Address {Address}*,
  element Contact {Person}*,
  element Group {xsd:string}*,
  element History {xsd:string}*,
  element MdaCode {xsd:string}?,
  element Name {xsd:string},
  element NameAdditions {xsd:string}?,
  element OrganisationsAssociation {xsd:string}?,
  element OrganisationsDissolutionDate {Date}?,
  element OrganisationsFoundationDate {Date}?,
  element OrganisationsFoundationPlace {Place}?,
  element OrganisationsFunction {xsd:string}?,
  element Reference {xsd:string}?,
  element SubBody {Organisation}*

People =
  element Culture {xsd:string}*,
  element Group {xsd:string}*,
  element LinguisticGroup {xsd:string}*,
  element PeoplesAssociation {xsd:string}?

Person =
  element Address {Address}*,
  element BiographicalNote {xsd:string}*,
  element Birth {
    element Date {Date}?,
    element Place {Place}?}?,
  element Death {
    element Date {Date}?,
    element Place {Place}?}?,
  element Gender {xsd:string}?,
  element Group {xsd:string}*,
  element Name {
    element Additions {xsd:string}?,
    element Forename {xsd:string}*,
    element Initials {xsd:string}?,
    element Note {xsd:string}*,
    element Surname {xsd:string}},
  element Nationality {xsd:string}*,
  element Occupation {xsd:string}*,
  element PersonsAssociation {xsd:string}?,
  element PersonTitle {xsd:string}*,
  element Reference {xsd:string}?,
  element Salutation {xsd:string}?,
  element SchoolStyle {xsd:string}*

Place =
  element Coordinates {
    element Qualifier {xsd:string}?,
    element Type {xsd:string}?,
    element Value {xsd:string}}*,
  element EnvironmentalDetails {xsd:string}*,
  element Feature {
    element Date {Date}?,
    element Keyword {xsd:string},
    element PlaceTypeSystem {xsd:string}?,
    element Type {xsd:string}?}*,
  element Name {xsd:string}?,
  element NameType {xsd:string}?,
  element Note {xsd:string}*,
  element Owner {empty}*,
  element PlaceAssociation {xsd:string}?,
  element Reference {
    element Number {xsd:string},
    element Type {xsd:string}?}?,
  element Status {xsd:string}?
